{% extends "generaltemplate.html
{% load i18n %}

{% block title %}
MUJIN Inc.| About MUJIN
{% endblock %}

{% block sidebar-list-items %}
<li>
  <a href="/news">News</a>
</li>
<li>
  <a href="/our_team">Our Team</a>
</li>
<li>
  <a href="/vision">Vision</a>
</li>
<li>
  <a href="/access_map">Visit Office</a>
</li>
<li>
  <a href="/careers">Careers</a>
</li>
<li>
  <a href="/business_connections"> Business Connections</a>
</li>
<li>
  <a href="/corporate_overview">Corporate Overview</a>
</li>
<li>
  <a href="/corporate_history"> Corporate History</a>
</li>
{% endblock %}
