{% extends "aboutmujintemplate.html
{% load i18n %}

{% block title %}
MUJIN Inc.| Company Overview
{% endblock %}

{% block main-content %}
  <h2>Company Overview</h2>
  <table class="table">
    <tr>
      <td>Company Name</td>
      <td>MUJIN Inc.</td>
    </tr>
    <tr>
      <td nowrap="nowrap">EN Company Name</td>
      <td>MUJIN Inc.</td>
    </tr>
    <tr>
      <td>Founded</td>
      <td>July 6th, 2011</td>
    </tr>
    <tr>
      <td nowrap="nowrap">Management Team</td>
      <td>CEO Issei Takino</br>
        CTO Rosen Diankov, Ph.D.(Carnegie Mellon Univeristy)
      </td>
    </tr>
    <tr>
      <td>Board of Directors</td>
      <td nowrap="nowrap">
        Representative Director: Issei Takino, CEO </br>
        Director (To be elected): Rosen Diankov , Ph.D.,  CTO<br/>
        Direcotr (Outside): Ted Yamamoto, General Partner at UTEC
      </td>
    </tr>
    <tr>
      <td>Legal Advisor</td>
      <td>AZX Professionals Group</td>
    </tr>
    <tr>
      <td>Shareholders</td>
      <td>
        MUJIN Founders<br/>
        UTEC2,L.P.<br/>
      </td>
    </tr>
    <tr>
      <td>Location</td>
      <td>
        Headquarter<br/>
        Tokyo University Entrepreneur Plaza, 7-3-1,Hongo,Bunkyo-ku,Tokyo,Japan<br/>
        Koishikawa Office<br/>
        1-22-9 Koishikawa,Bunkyo-ku,Tokyo,Japan</td>
    </tr>
    <tr>
      <td>Telephone</td>
      <td>Headquarter<br/>050-3682-7852</td>
    </tr>
    <tr>
      <td>FAX</td>
      <td>Headquarter<br/>050-3682-7852</td>
    </tr>
    <tr>
      <td>URL</td>
      <td>
        <a href="http://www.mujin.co.jp/">http://www.mujin.co.jp</a>
      </td>
    </tr>
    <tr>
      <td>E-mail</td>
      <td><a href="inquiry">info@mujin.co.jp</a></td>
    </tr>
  </table>
</div>
{% endblock %}
