{% extends "generaltemplate.html
{% load i18n %}

{% block main-content %}
<h2>Motion_Planning Service Automated Collision Avoidance System</h2>

<p class="lead">Most existing industrial robot programming packages can only check for collisions with the workpiece and robot. They require users to manually specify collision-free waypoints so trajectories will never have collisions in them. The problem with this technique is that the waypoints users choose will most certainly yield sub-optimal trajectories.</p>

<p class="lead">The MUJIN Controller approaches things differently. All collision avoidance and constraint handling happens automatically based on simulations and path planning algorithms based on the robot and its environment. It takes a lot of stress off the robot programmer as it provides a clean and simple interface that requires only high-level parameters as input.</p>

<h3>Advantages</h3>

<ul>
  <li><p class="lead">Eliminates the need for manual teaching operations, which reduces development and deployment cost.</p></li>
  <li><p class="lead">Creates motion plans for tasks that are very difficult or impossible to program with manual teaching.</p></li>
</ul>

<h3>Example Task</h3>

<div class="well">
  <iframe width="80%" style="margin-left: 10%;" height="355" src="http://www.youtube.com/embed/McLwjiAx-10" frameborder="0" allowfullscreen></iframe>
  <div style="text-align: center;">
    <p class="lead"><h4>This task would have been very difficult to program without automatic collision avoidance.</h4></p>
  </div>
</div>

<h3>Example Workflow</h3>

<p class="lead">Collision avoidance enables a drastically simplified workflow for robot programmers and system integrators when approacing the complex task of programming a robot.</p>

<table class="table table-bordered vertical-center-table">
  <tr>
    <td>
      <img style="width: 400px;" src="{{ page.base_url }}img/door_animation.png"/>
    </td>
    <td>
      <p>Import 3D models into the MUJIN Controller. The MUJIN Controller supports many 3D CAD software, so there is no need to buy a new 3D CAD systems or licenses.</p>
    </td>
  </tr>
  <tr>
    <td>
      <img  style="width: 400px;" src="{{ page.base_url }}img/door_animation2.png"/>
    </td>
    <td>
      <p>With <a href="/product_feature_itl">MUJIN ITL</a> users have a high-level, generic way to easily specify task parameters such as tool, task type and goals. In this case, users only specify tool position when it grab the chair (P1) and tool position in final destination (P2).</p>
      <br/>
      <b>The only program you write is:</b>
      <div class="row">
        <div class="span6">
          <pre>
move(p[P1])          #move to P1 
grab(t[chair1])      #grab chair1
move(p[P2])          #move to P2
release(t[chair2])   #release chair2
          </pre>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <img style="width: 400px;" src="{{ page.base_url }}img/door_animation2.gif"/>
    </td>
    <td>
      Sit back and relax while the MUJIN Controller chooses the best trajectory by comparing thousands of candidate trajectories. After calculating the most optimal trajectory, MUJIN Controller<a href="/product_feature_program"> automatically output robot manufactures program.</a>
    </td>
  </tr>
</table>

<h3>Problems Doing it the Old Way</h3>
<img class="thumbnail" src="{{ page.base_url }}img/collision.png"/>
<p>Collisions happen all the time!</p>
<img class="thumbnail" src="{{ page.base_url }}img/collision_manual_correction.png"/>
<p style="clear:both">The robot programmer has to adjust each parameter to correct collision.</p>
<br />
<a class="btn btn-large" href="/products_controller#product_features"><b>&laquo;</b>&nbsp;Back to Product Features</a>
{% endblock %}

