{% extends "aboutmujintemplate.html
{% load i18n %}
{% block title %}
MUJIN Inc.| Our Team
{% endblock %}

{% block main-content %}
<h2>Our Team</h2>
<br/>

<div id="managers">
  <h3>Issei Takino - CEO </h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/issei.png">
      </td>
      <td>
        <p><b>Graduated from Soka University of America</b> 2007</p>
        <p><b>Working as Sales Engineer at Iscar</b> 2012</p>
        <ul>
          <li><p>Freshman Award 2008</p></li>
          <li><p>Second Prize for Marketing Proposal Contest 2010</p></li>
          <li><p>The first award in Sales Contest 2011</p></li>
        </ul>
      </td>
    </tr>
  </table>

  <h3>Rosen Diankov - CTO </h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/rosen.png">
      </td>
      <td>
        <p><b>University of California, Berkeley (EECS)</b> 2006</p>
        <p><b>Ph.D from Carnegie Mellon University</b> 2010</p>
        <p><b>JSPS Postdoctoral Fellowship in JSK Tokyo University</b> 2010-2012</p>
        <p><b>OpenRAVE - Founder and Developer</b></p>
        <ul>
          <li>Ph.D.thesis:<a href="http://www.programmingvision.com/rosen_diankov_thesis.pdf">Automated Construction of Robotics Manipulation Programs</a></li>
        </ul>
      </td>
    </tr>
  </table>

  <h2 class="comment" style="color:red;"></h2>

  <h3>Chief of Software Development - Huan Liu </h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/huan.png">
      </td>
      <td>
        <p><b>Graduated from Massachusetts Institute of Technology</b> 2010</p>
        <p><b>Master of Engineering from Massachusetts Institute of Technology</b> 2011</p>
        <ul>
          <li>Tutoring chair for HKN national EECS honor society 2010 - 2011</li>
        </ul>
        <p><b>Oracle Corporation</b> 2011 - 2012</p>
      </td>
    </tr>
  </table>

  <h3>Software Engineer - Lucas Palage Doyle</h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/luke.png">
      </td>
      <td>
        <p><b>Graduated from Rensselaer Polytechnic Institute</b> 2012</p>
        <ul>
          <li>Team leader in Boeing Robotic Wingbox Project 2012</li>
        </ul>
        <p><b>Harvard-Smithsonian Center for Astrophysics</b>2009 - 2012</p>
        <p><b>Robotics Intern at Anybots</b>2011</p>
      </td>
    </tr>
  </table>

 <h3>Software Engineer - Daniel Matthew Taub</h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/daniel.png">
      </td>
      <td>
        <p><b>Graduated from Massachusetts Institute of Technology</b> 2006</p>
        <p><b>Master of Engineering from Massachusetts Institute of Technology</b> 2009</p>
      </td>
    </tr>
  </table>

<h3>Visiting Scientist - Pham Quang Cuong</h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/quang.png">
      </td>
      <td>
        <p><b>Graduated from École Normale Supérieure rue d'Ulm</b> 2007</p>
        <p><b>Ph.D from Collège de France</b> 2009</p>
        <p><b>JSPS researcher at University of Tokyo</b> 2010 - 2013</p>
        <p><b>RSS 2012 Best Paper Award</b><a href="http://roboticsproceedings.org/rss08/p42.pdf">- trajectory deformation for redundant manipulators</a></p>
      </td>
    </tr>
  </table>

<h3>Visiting Scientist - Ryosuke Tasaki</h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/ryosuke.png">
      </td>
      <td>
        <p><b>Graduated from Kyoto Institute of Technology</b> 2007</p>
        <p><b>Ph.D from Toyohashi University of Technology</b> 2009</p>
        <p><b>JSPS researcher at Toyohashi University of Technology </b> 2009 - 2011</p>
        <p><b>Special research encouragement prize from The Japan Foundry engineering Society (JFS)</b>2012</p>
      </td>
    </tr>
  </table>

<h3>Intern - Shohei Fujii</h3>
  <table class="table">
    <tr>
      <td>
        <img class="thumbnail" style="width:200px" src="{{ page.base_url }}img/shohei.png">
      </td>
      <td>
        <p><b>Graduated from Tokyo University</b> 2012</p>
        <p><b>Engineering dean's list</b> 2012</p>
        <p><b>Master course at University of Tokyo JSK</b> 2012 - now</p>
      </td>
    </tr>
  </table>
</div>
{% endblock %}

