{% extends "generaltemplate.html
{% load i18n %}

{% block title %}
MUJIN Inc.| Privacy Policy
{% endblock %}

{% block sidebar-list-items %}
<li><a href="#privacy_policy">Privacy Policy</a></li>
<li><a href="#personal_information">Policies regarding Handling of Personal Information</a></li>
{% endblock %}

{% block main-content %}
<div id="mujin_privacy_policy">
  <h3>MUJIN Privacy Policy</h3>
  <div class="div-content">
    <p> This policy was established and took effect on September 1, 2012.</p>
    <p>MUJIN Inc. (hereinafter called “MUJIN”) understands that customers entrust MUJIN with their Personal Information based on the trust that it will be used only for specific purposes. MUJIN respects the customers’ trust and places a high management priority on properly protecting such Personal Information and limiting its use to such purposes.</p>
    <p>Based on the above recognition, MUJIN has established the following policies regarding handling of Personal Information and will continuously endeavor to handle it appropriately.</p>

  </div>
</div>

<div id="personal_information">
  <h3>Policies regarding Handling of Personal Information</h3>
  <div class="div-content">
    <ol>
      <li><h4>(Compliance)</h4></li>
      <p>MUJIN will comply with the applicable laws and regulations including “Act on the Protection of Personal Information,” obligations under the applicable ministerial guidelines and this Privacy Policy in handling Personal Information (information which can identify a specific individual).</p>
      <li><h4>(Use within Specific Purpose(s))</h4></li>
      <p>MUJIN will use Personal Information only within the scope necessary for the achievement of the purpose(s) of use which has been specified in advance, except for cases in which MUJIN has obtained in advance consent from the individual who provides his/her Personal Information (hereafter “the individual”) and for cases permitted under the related laws or regulations.</p>
      <li><h4>(Obtaining Personal Information)</h4></li>
      <p>MUJIN will endeavor to clearly notify necessary information such as purpose(s) of use, names of user(s) as well as contact details and to obtain consent when asking for Personal Information. MUJIN may record in writing or in voice the contents of transactions and inquiries.</p>
      <li><h4>(Personal Information of Customers Under Fifteen (15) Years Old)</h4></li>
      <p>MUJIN will make special consideration for the handling of Personal Information of customers under fifteen (15) years old, e.g., to notify clearly in advance to ask such customer to provide Personal Information only upon guardian’s consent.</p>
      <li><h4>(Security Control Measures)</h4></li>
      <p>MUJIN will endeavor to maintain entrusted Personal Information to be accurate and updated to the extent necessary for the purpose(s) of its use. MUJIN will take necessary and appropriate security control measures in line with existing technical standards and will implement corrective actions as needed to protect entrusted Personal Information from unauthorized access, leakage, modification, loss, destruction, etc.</p>
      <li><h4>(Supervision of Subcontractor(s))</h4></li>
      <p>MUJIN may subcontract the processing of entrusted Personal Information to a third party within the scope necessary for the achievement of the purpose(s) of use. Such third party will be selected after confirming sufficient level of information security, and MUJIN will exercise necessary and adequate supervision to the party by such means as making contracts.</p>
      <li><h4>(Providing to Third Parties)</h4></li>
      <p>Without the consent of the individual, MUJIN will not provide Personal Information to any third party, except for cases permitted under the related laws or regulations. MUJIN will not provide Personal Information to any third party, based on the “Opt-Out System” (Article 23.2 of the Act on the Protection Personal Information).</p>
      <li><h4>(Request(s) for Review etc.)</h4></li>
      <p>MUJIN will, based on the provisions of the related laws or regulations, properly respond to comment(s) and request(s) from the individual regarding handling of Personal Information such as to review, correct, stop receiving further product or service information from MUJIN, or to delete Personal Information of their own after confirming their identity. Please contact the appropriate customer center under the guidance of each company to which you have provided your Personal Information.</p>
      <li><h4>(Continuous Improvement of Internal System)</h4></li>
      <p>MUJIN will continuously endeavor to improve internal compliance systems including appointing responsible officers for administration of Personal Information, updating this Privacy Policy through establishment of internal rules, education to directors, officers and employees, and appropriate internal audit to handle entrusted Personal Information properly.</p>
    </ol>    
  </div>
</div>
{% endblock %}
