{% extends "generaltemplate.html
{% load i18n %}

{% block main-content %}
<h1>Standalone 3D CAD Format Support</h1>
<p class="lead">Many of existing robot simulation software are implemented as add-on's to expensive 3D CAD software. Purchasing new 3D CAD software licenses can be expensive. The MUJIN Controller does not require any specific 3D CAD software and the robot programmer can easily import 3D models in most common formats.</p>
<img class="thumbnail" src="{{ page.base_url }}img/add_on.gif">
<h4>Supported formats: </h4>
<ul>
  <li>COLLADA</li>
  <li>IGES</li>
  <li>STEP</li>
  <li>IV/VRML</li>
  <li>STL</li>
  <li>DirectX</li>
</ul>
<br />
<a class="btn btn-large" href="/products_controller#product_features"><b>&laquo;</b>&nbsp;Back to Product Features</a>
{% endblock %}

