{% extends "generaltemplate.html
{% load i18n %}

{% block sidebar-list-items %}
<li><a href="#mujin_scanner">MUJIN Scanner</a></li>
<li><a href="#part_scanning">Part Scanning</a></li>
<li><a href="#env_scanning">Environment Scanning</a></li>
<li><a href="#getone">Purchasing</a></li>
{% endblock %}

{% block slider %}
{% endblock %}

{% block main-content %}
<img src="{{ page.base_url }}img/scanner/header.png">

<fieldset id="mujin_scanner">
  <div class="fieldset-content span10">
    <h3>Easy and quick 3D scans for parts and environments </h3><br/>
    <h4>Very light scanned model</h4>

    <p class="lead">MUJIN Scanner is the ideal choice for those that require to receive a easy, quick and light scan. It captures objects quickly with handy 3D sensor, which allows for almost unlimited applications.</p>
    
    <p class="lead">MUJIN Scanner is similar to the videocamera which captures objects in 3D, and it is actually developed especially for robot simulation application. Scanning can be competed only in a minute and the generated 3D model is relatively light, so that you can import the models to many different kinds of robot simulators immediately. </p>

  <p class="lead">Because MUJIN Scanner does not require marker and turntable,it does not choose object's size and location. You can carry around the factory and scan various kind of objects wherever and whenever you need to do. </p>    
  

  </div>
</fieldset>

<fieldset id="part_scanning" class="highlight-span3">
  <h2 style="color:red">Part Scanning</h2>
  <br>
  <h2 class="comment" style="color:red;"></h2>
  <div class="fieldset-content span10">

    <div class="row">
      <h3>Demonstration </h3>

      <iframe width="580" height="340" src="//www.youtube.com/embed/sEahNnpTVws" frameborder="0" allowfullscreen></iframe>

      <br>

      <h3>Sample part scans</h3>
      
      <table class="scanner-table" style="width: 100%;">
          <tr>
              <td>
                  <img src="{{ page.base_url }}img/scanner/compressor.png">
              </td>
              <td>
                  <img src="{{ page.base_url }}img/scanner/scanned_compressor.png">
              </td>
          </tr>
          <tr>
              <td>
                  <img src="{{ page.base_url }}img/scanner/jig.png">
              </td>
              <td>
                  <img src="{{ page.base_url }}img/scanner/scanned_jig.jpg">
              </td>
          </tr>
          <tr>
              <td>
                  <img src="{{ page.base_url }}img/scanner/binpicking_box_orig.png">
              </td>
              <td>
                  <img src="{{ page.base_url }}img/scanner/binpicking_box.png">
              </td>
          </tr>
      </table>

      <br/>
    </div>

    <h3>High usability for various kinds of simulators</h3>

    <div class="row">
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>RT Toolbox</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/rttoolbox.png">
        </a>
      </div>
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>Wincaps</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/wincaps.png">
        </a>
      </div>
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>MUJIN Controller</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/mujincontroller.png"/>
        </a>
      </div>
    </div>
    
    <br>

    <h3>Easy three step process</h3>


    <ol style="font-size: 17.5px; margin: 10px 0; font-family: inherit; font-weight: bold; line-height: 20px; color: inherit; text-rendering: optimizelegibility;">
      <li>
          Scan the object
          <br/>
          <table class="scanner-table" style="width: 100%;">
              <tr>
                  <td>
                      <img src="{{ page.base_url }}img/scanner/luke_byhimself.png">
                  </td>
                  <td>
                      <img src="{{ page.base_url }}img/scanner/scanner-flyer-020.jpg">
                  </td>
              </tr>
          </table>
          <br/>
          <br/>
      </li>
      <li>
          Clip extra geometry and set coordinate system
          <br/>
          <table class="scanner-table" style="width: 100%;">
              <tr>
                  <td>
                      <img src="{{ page.base_url }}img/scanner/scan_process2.png">
                  </td>
                  <td>
                      <img src="{{ page.base_url }}img/scanner/scan_process3.png">
                  </td>
              </tr>
          </table>
          <br/>
          <br/>
      </li>
      <li>
          Clip extra geometry and set coordinate system
          <br/>
          <img src="{{ page.base_url }}img/scanner/scan_process4.png"/>
          <br/>
          <br/>
      </li>
    </ol>


  <h3>Benefits to our approach</h3>
  
  <p class="lead">
    <ul>
      <li>No need for special markers</li>
      <li>No need to mound object on a turntable, can simply be placed against any flat surface.</li>
      <li>Mesh output is very lightweight. The system produces models without excessive polygons, so it won't slow down other CAD programs that import the model.</li>
    </ul>
  </p>

</fieldset>


<fieldset id="environment_scanning" class="highlight-span3">
  <h2 style="color:red">Environment Scanning</h2>
  <br>
  <h2 class="comment" style="color:red;"></h2>
  <div class="fieldset-content span10">
    
    <div class="row">
      <h3>Large environment </h3>
      <p class="lead">Those who desire to scan environment which is bigger than sensor range, MUJIN Scanner offers environment scan mode which can marge multiple scanned data in high accuracy. Only by putting some markers, you can easily scan large area like entire production line. </p>
<img style="width:60%"; src="{{ page.base_url }}img/scanner/environment_scan.png">
 <h3>World First robot environment scan </h3>
      <p class="lead">. </p>

   <h3>Easy Steps</h3>

    <div class="row">
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>Choose environment</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/office_test.png">
        </a>
      </div>
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>2. Prepare for markers</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/marker.png">
        </a>
      </div>
      <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>3.Scan quickly</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/robot_scan1.png"/>
        </a>
      </div>
 <div class="span3 well" style="height: auto;">
        <a class="nohover-highlight feature-item" href="#">
          <h4>4.Robot is detected</h4>
          <img class="thumbnail" src="{{ page.base_url }}img/scanner/missing.png"/>
        </a>
      </div>
    </div>
</fieldset>
{% endblock %}
