{% extends "generaltemplate.html
{% load i18n %}

{% block main-content %}
<h2>Clearance Setting Function</h2>

<p>The MUJIN Controller has an unique function which can set a clearance distance between robot and obstacles. Since each customer should have desired clearance amount for their safety, MUJIN Controller tries to sutisfy the contstrain as much as it can. However, robot sometimes to approach to obstacles or goals to accomplish specified task. When the task cannot be accomplished with specified clearance amount, MUJIN controller automatically reduces the amount of clearance and tries to complete the task.</p>
<br />

<div class="well">
  <iframe width="80%" style="margin-left: 10%;" height="355" src="//www.youtube.com/embed/-N8olRmGgIA" frameborder="0" allowfullscreen></iframe>
  <div style="text-align: center;">
    <p class="lead">Clearance setting 30mm</p>
  </div>
</div>

<div class="well">
  <iframe width="80%" style="margin-left: 10%;" height="355" src="//www.youtube.com/embed/RTAoU5XcBGI" frameborder="0" allowfullscreen></iframe>
  <div style="text-align: center;">
    <p class="lead">Clearance setting 60mm</p>
  </div>
</div>

<br />
<a class="btn btn-large" href="/products_controller#product_features"><b>&laquo;</b>&nbsp;Back to Product Features</a>
{% endblock %}
