{% extends "generaltemplate.html
{% load i18n %}

{% block title %}
MUJIN Inc.| Services
{% endblock %}

{% block sidebar-list-items %}
<li><a href="#fa_engineering">FA Engineering</a></li>
<li><a href="#teaching_solution">Teaching Solution</a></li>
<li><a href="#motion_control_solution">Motion Control Solution</a></li>
{% endblock %}

{% block main-content %}
<fieldset id="fa_engineering">
  <h3>FA Engineering</h3>
  <div class="fieldset-content">
    <p>MUJIN will customize any workcell by considering your specific need. Our FA engineering is featured especially with assembly, palletizing, and transfar in industrial applications. Tables, Hands, other devices can be integrated to maximize efficiency and deliver the quality and safety you expect.</p>
<ul>
<li>Build Inteligent Robot Manufacturing System. </li>
<li>Design and make other mechanical parts such as jig, hand, and parts feeder.</li>
<li>Hand Shake with old system</li>
<li>Design Controller</li>
</ul>
<img style="width:600px" src="{{ page.base_url }}img/linear_demo.png">
    <p>For any robotcell MUJIN offers, MUJIN Controller are provided as a controller. MUJIN Controller is the controller which the most advanced motion planning system is implemented to. Using MUJIN controller enable operators to make robot program easily and modify the setting flexibly.</p>
  </div>
</fieldset>

<fieldset id="teaching_solution">
  <h3>Teaching & Simulation Solution</h3>
  <div class="fieldset-content">
    <p>Mujin engineers have a lot of experience programming extremely difficult robot manufacuturing system such as manipulation of 6axis robot on the linear stages or dual arm robots. We will offer customesrs precise simulation that describes how real robots should move and where they shoudl be mounted. To refer our feasibility study, customer can save a lot of time for the process of try and error. If you have any question, please <a href="/inquiry">contact our service</a></p>
    <div class="row">
      <div class="span4 well">
        <p>MUJIN Controller can be used with the following factory line/robot simulatiors.</p>
        <ul>
          <li>CEC-Virfit</li>
        </ul>
      </div>
      <div class="span4 well">
        <p>If customer has 3D CAD models, following 3D CAD formats are available</p>
        <ul>
          <li>CEC-Virfit XML</li>
          <li>STEP</li>
          <li>IGES</li>
          <li>DirectX</li>
          <li>VRML</li>
          <li>STL</li>
          <li>COLLADA 1.5</li>
        </ul>
      </div>
    </div>
    <img style="width:600px" src="{{ page.base_url }}img/wafer_demo.png">
  </div>
</fieldset>

<fieldset id="motion_control_solution">
  <h3>Motion Planning & Control Solution</h3>
  <div class="fieldset-content">
    <p>When you would like to controll your customized machine with high precision or automated system, motion planning system become necessary. MUJIN is known as the company which has the most advanced IK solving technology. Even machines with more than 10 axes can be solved in a couple days.</p>
    <h4>Motion Planning can be used for </h4>
    <ul>
      <li>Robot Motion Controller<a href="/products_controller">(See MUJIN Controller)</a></li>
<img style="width:500px" src="{{ page.base_url }}img/mujincontroller_logo3.png">
      <li>Controller for manufacturing automation system</li>
      <img style="width:300px" src="{{ page.base_url }}img/factory_automation.png">
      <li><a href="/ik_flyer">IK Solution for malti-axis machines more detail</a></li>
      <img style="width:400px" src="{{ page.base_url }}img/technology_iksolutions2.jpg">
      <a href="/ik_flyer"><img style="width:150px" src="{{ page.base_url }}img/ik_flyer.png"></a>
      <li>Navigation system for autonomous machines</li>
      <img style="width:300px" src="{{ page.base_url }}img/simplenavigation.jpg">
    </ul>
  </div>
</fieldset>

{% endblock %}
