{% extends "generaltemplate.html
{% load i18n %}

{% block title %}
MUJIN Inc.| Services
{% endblock %}

{% block sidebar-list-items %}
{% endblock %}

{% block main-content %}
<a href="http://www.youtube.com/user/mujinvideo"><h3>Our Youtube Channel</h3></a>

<div id="controller_demo">
  <h3>MUJIN Controller Demo</h3>
  <div class="div-content">
    <iframe width="640" height="480" src="//www.youtube.com/embed/U6DmwmGAncM" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="liquid_fast_ handling_demo">
  <h3>Liquid_fast Handling Demo</h3>
  <div class="div-content">
    <iframe width="640" height="480" src="//www.youtube.com/embed/3vleHnx7uug" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="scanning_demo">
  <h3>Scanning Demo</h3>
  <div class="div-content">
    <iframe width="640" height="480" src="//www.youtube.com/embed/sEahNnpTVws" frameborder="0" allowfullscreen></iframe>
  </div>
</div>

<div id="pickworker_demo">
  <h3>Pick Worker Demo</h3>
  <div class="div-content">
    <iframe width="640" height="480" src="//www.youtube.com/embed/S9jT3T-Egzk" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
