{% extends "generaltemplate.html" %}
{% load i18n %}

{% block main-content %}
<h2>{% trans "Grasp and Release Function" %}</h2>

<p>{% trans "The MUJIN Controller has an unique function which can simulate trajectories while considering a workpiece in the robots grasp. As soon as a robot grabs an object, the MUJIN Controller treats that object as a part of the robot. This means the objects will be part of the robots collision mesh and respond to collision avoidance, so that users do not have to specify intermediate waypoints to account for the object being in a specific place while being manipulated by the robot." %}</p>
<br />

<div class="well">
  <iframe width="80%" style="margin-left: 10%;" height="355" src="http://www.youtube.com/embed/McLwjiAx-10" frameborder="0" allowfullscreen></iframe>
  <div style="text-align: center;">
  <p class="lead">{% trans "Once the tool is specified, the robot can grab the workpiece, transfer it to its goal and release it without adjusting any parameters. Multiple workpieces and tools can be chained in one task to form complex assembles." %}</p>
  </div>
</div>

<br />
<a class="btn btn-large" href="/products_controller#product_features"><b>&laquo;</b>&nbsp;{% trans "Back to Product Features" %}</a>
{% endblock %}
