{% extends "generaltemplate.html" %}
{% load i18n %}

{% block main-content %}
<fieldset id="product_feature_itl">
  <h2>{% trans "Industrial Task Language (ITL)" %}</h1>
  <p class="lead">{% trans "Industrial Task Language is a robot programming language developed by MUJIN. It enables users to conveniently program and design their robotic applications in a generic and scalable way. ITL is completely independent to any robot manufactures' language and is designed to maximize MUJIN Controller's extensive simulation features. Using ITL releases people from managing different robot programs in different languages that depend on manufactures'. It also reduces the effort required to plan, apply and maintain core robotic programming techniques, saving time and money." %}</p>
  
  <h3>{% trans "Specify only goals" %} </h2>
  <p class="lead">{% trans "Since the MUJIN Controller is a tool designed to create the optimized, collision free paths, an ITL user only has to specify goals." %}</p>

<h4>Example Program</h4>
  <div class="row">
    <div class="span6">
      <pre>
settool(1)
move(translation(0,0,20)*p[P2])
movel(p[P2])
movel(translation(0,0,20)*p[P2])
move(translation(0,0,20)*p[P3])
movel(p[P3])
movel(translation(0,0,20)*p[P3])
move(translation(0,0,20)*p[P1])
movel(p[P1])
movel(translation(0,0,20)*p[P1])
move(translation(0,0,20)*p[P3])
movel(p[P3])            </pre>
    </div>
  </div>
  <br />
  <a class="btn btn-large" href="/products_controller#product_features"><b>&laquo;</b>&nbsp;{% trans "Back to Product Features" %}</a>
{% endblock %}

