<div class="container">

  <hr>

  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright &copy; Company 2013</p>
      </div>
    </div>
  </footer>

</div><!-- /.container -->


<!-- Core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ page.base_url }}bower_components/jquery/jquery.min.js"></script>
<script src="{{ page.base_url }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="{{ page.base_url }}js/main.js"></script>
