<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Styling -->
<link href="{{ page.base_url }}css/bootstrap.min.css" rel="stylesheet"/>
<link href="{{ page.base_url }}bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet"/>
<link href="{{ page.base_url }}css/style.css" rel="stylesheet"/>

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="{{ page.base_url }}bower_components/html5shiv/dist/html5shiv.js"></script>
  <script src="{{ page.base_url }}bower_components/respond/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="shortcut icon" href="{{ page.base_url }}img/favicon.ico">
