body {
  padding-top: 20px;
  padding-bottom: 60px;
  font-family: 'Pontano Sans', sans-serif;
  min-width: 925px;
  font-size: 18px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 26px;
}

/* Custom container */
.container {
  margin: 0 auto;
  width: 1100px !important;
}
.container > hr {
  margin: 10px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar .navbar-inner {
  padding: 0;
}
.navbar .nav {
  margin: 0;
  display: table;
  width: 100%;
}
.navbar .nav li {
  display: table-cell;
  width: 1%;
  float: none;
}
.navbar .nav li a {
  font-weight: bold;
  text-align: center;
  border-left: 1px solid rgba(255,255,255,.75);
  border-right: 1px solid rgba(0,0,0,.1);
}

.navbar .nav li:first-child a {
  border-left: 0;
  border-radius: 3px 0 0 3px;
}
.navbar .nav li:last-child a {
  border-right: 0;
  border-radius: 0 3px 3px 0;
}

.masthead img {
  width: 200px;
  margin-bottom: 10px;
}

/*
lukes edits start here
*/

#homeCarousel .carousel-inner img {
  width: 100%;
  height: 484px;
}

#featureCarousel .carousel-inner img {
  width: 100%;
  height: 304px;
}

.carousel-control {
  height: 80px;
  margin-top: 0;
  font-size: 120px;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
  background-color: transparent;
  border: 0;
  z-index: 10;
  color: #484848;
}

.affix {
  top: 10px;
}

/* Sidebar nav */
.sidebar-nav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.sidebar-nav > li > div,
.sidebar-nav > li > a {
  display: block;
  width: 190px \9;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.sidebar-nav > li:first-child > div,
.sidebar-nav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.sidebar-nav > li:last-child > div,
.sidebar-nav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.sidebar-nav > .active > div,
.sidebar-nav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.sidebar-nav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.sidebar-nav > li > a:hover {
  background-color: #f5f5f5;
}
.sidebar-nav a:hover .icon-chevron-right {
  opacity: .5;
}
.sidebar-nav .active .icon-chevron-right,
.sidebar-nav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.sidebar-nav.affix {
  top: 40px;
}
.sidebar-nav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

fieldset {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.nohover-highlight {
  color: rgb(51, 51, 51);
}
.nohover-highlight:hover {
  text-decoration: none;
}

image-inline {
  display: inline;
  margin: 10px;
}

.about-mujin-index img {
  width: 150px;
  height: 150px;
}

.highlight-span3 div.span3 img {
  width: 150px;
  height: 180px;
  margin-bottom: 8px;
}


.fieldset-content  {
  margin-left: 30px;
}

#managers table td {
  width: 50%;
}

#managers img {
  width: 300px;
  margin-left: 20px;
}

.comment {
  display: none;
}

.navbar .nav .dropdown-menu li {
  display: block;
}

.dropdown-menu.pull-right li a {
  text-align: left;
}
.dropdown-menu.pull-right li {
  width: 100%;
}

.feature-item p {
  font-weight: bold;
  padding: 3px;
}

.feature-item img {
  width: 95% !important; /* why... */
  margin-bottom: 3px !important;
}

.highlight-span3 div.span3 {
  margin-bottom: 10px;
  padding: 5px;
  height: 350px;
}

.highlight-span3 div.span3 h4 {
  color: #ffffff;
  background-color: rgb(221, 72, 20);
  padding: 3px;
  margin: 0px;
  margin-bottom: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.highlight-span3 div.row {
  margin-bottom: 10px;
}

.vertical-center-table td {
  vertical-align: middle;
}
