{% load i18n %}
<head>
  <title>{% block title %}{% trans "MUJIN Inc Homepage | Industrial Robot for Everyone" %}{% endblock %}</title> 
  {% block css %}{% endblock %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mujin_style.css"/>
  {% block headscripts %}{% endblock %}
</head>

<div id="about_mujin">
  <table class="about_mujin_table">
    <tr>
      <td valign="bottom">
        <a href="/company_overview"> 
          <img src="{{ STATIC_URL }}/img/corporate_profile.jpg" alt="company_overview"/>
        </a>
      </td>
      <td>
        <a href="/company_overview"><p style="font-size:30px; color:#EE920E;">{% trans "Corporate overview" %}</p></a>
      </td>
      <td valign="bottom">
        <a href="/vision"><img src="{{ STATIC_URL }}/img/oldlighthouse.png" alt="access_map"/></a>
      </td>
      <td>
        <a href="/vision"><p style="font-size:30px; color:#EE920E;">{% trans "Vision" %}</p></a>
      </td> 
      <td valign="bottom">
        <a href="/management_team"><img src="{{ STATIC_URL }}/img/management_team.jpg" alt="management_team"/></a>
      </td>
      <td>
        <a href="/management_team"><p style="font-size:30px; color:#EE920E;">{% trans "Management team" %}</p></a>
      </td>
    </tr>
    <tr>
      <td valign="bottom">
        <a href="/access_map"><img src="{{ STATIC_URL }}/img/access_map.jpg" alt="access_map"/></a>
      </td>
      <td>
        <a href="/access_map"><p style="font-size:30px; color:#EE920E;"> {% trans "Visit office" %}</p></a>
      </td>
      <td valign="bottom">
        <a href="/founder_message"><img src="{{ STATIC_URL }}/img/message.jpg" alt="company_development"/></a>
      </td>
      <td>
        <a href="/founder_message"><p style="font-size:30px; color:#EE920E;"> {% trans "Message from founder" %}</p></a>
      </td>
      <td valign="bottom">
        <a href="/company_development"><img src="{{ STATIC_URL }}/img/company_development.jpg"  alt="company_development"/></a>
      </td>
      <td>
        <a href="/company_development"><p style="font-size:30px; color:#EE920E;"> {% trans "Company development" %}</p></a>
      </td>
    </tr>
  </table>
</div>
