{% load i18n %}

<p>{% blocktrans %}MUJIN Inc is an recent startup based in Japan. It's core development team has experience in managing one of the most popular robot motion planning libraries in the field. {% endblocktrans %}</p>

<p>{% trans "MUJIN is currently seeking engineers in:"%}</p>
<ul>
<li>1. {% trans "Software Engineering" %}</li>
<li>2. {% trans "Database and Network Engineering" %}</li>
<li>3. {% trans "Web design and user interfaces" %}</li>
<li>4. {% trans "Motion Planning Algorithms" %}</li>
<li>5. {% trans "Robot Automation Experience (Hardware + Perception)" %}</li>
</ul>


<p>{% trans "For questions email: " %} <img src="{{ STATIC_URL }}img/mujin_mail.png" border="0" alt="" height="28"  style="vertical-align:middle"/></p>
