{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN | Access Map" %}
{% endblock %}

{% block content %}
<div class="bnr"> 
  <image src="{{ STATIC_URL }}img/oldmap.png" style="float:right;"/>
  <div style="position:relative; left:40px; top:60px;font-size:50px;color:#EE920E;padding0px"><b>{% trans "Access Map" %}</b>
  </div>
</div>

<br/>
 <div id="navi" style="width:270px;height:85px;background:#DDDDDD;float:left">
    <ul class="subnavi" style="position:relative;left:10px;top:5px;">
      <li><a href="#access_content" class="subbutton">{% trans "Headquaters" %}</a></li>
      <li><a href="#koishikawa_office" class="subbutton">{% trans "Koishikawa office" %}</a></li>
    </ul>
  </div>   

<div id="access_content" style="float:right;position:relative; left:30px; width:600px;">
  <div style="padding:3px 5px;border-color:#cccccc;border-width:1px 1px 1px 7px;border-style:solid;width:150px;background:#F8F8F8;"><h2> {% trans "Headquater" %}</h2>
  </div>
  <br/>
  〒113-0033　Tokyo University Entrepreneur Plaza 4F, 7-3-1, Hongo, Bunkyo-ku, Tokyo, Japan
  <br/>
  <br/>
　({% trans "Please use an interphone at the 1st floor to call" %}） 
  <br/>
  <br/>
  <img width="500" height="458" alt="MUJJIN_MAP" src="{{ STATIC_URL }}/img/access_map1.jpg" style="margin-left: 10px; float: center;"/> 
  <br/>
  <br/>
  <h3 style="text-align:left; color:red;">
    最寄駅
    <br/>
  </h3>
  <strong>{% trans "Tokyo Metro Marunouchi-line Hongosanchome Station" %}</strong>
  <br/>
  <br/>
  {% trans "Walk out from exit No.2 and make right at Hongo3 intersection." %}
  <br/>
  <br/>
  <strong>
   {% trans " Tokyo Metro Chiyoda-line Yushima Station" %}
    <br/>
   </strong>
  <br/>
  Walk out from exit No.1 and enter campus from Tatsuoki-gate in front of a fireman station.
  <br/>
  <br/>
  <strong>{% trans "Toei Oedo-line Hongosanchome Station" %}</strong>
  <br/>
  <br/>
  {% trans "Walk out from exit No.5. Then, make right and enter campus from Tatsuoki-gate." %}
  <br/>
  <br/>
  <h3 style="text-align:left; color:red;">
    {% trans "Driving a car" %}
  </h3>
  {% trans "Enter campus from Tatsuoki-gate and pass the gate besides department of pharmacy" %}
  <br/
  {% trans "please tell gate-guards that you are going to Entrepreneur Plaza." %}
<br/>
<br/>
<br/>
<br/>
<br/>
 <div id="koishikawa_office" style="padding:3px 5px;border-color:#cccccc;border-width:1px 1px 1px 7px;border-style:solid;width:250px;background:#F8F8F8;"><h2> {% trans "Koishikawa Office" %}</h2>
  </div>
 <br/>
  〒112-0002　{% trans "1-22-9 Koishikawa,Bunkyo-ku,Tokyo,Japan" %} 
  <br/>
  <br/>
  <img width="500"  alt="MUJJIN_MAP" src="{{ STATIC_URL }}/img/access_map2.png" style="margin-left: 10px; float: center;"/> 
  <br/>
  <br/>
  <h3 style="text-align:left; color:red;">
    {% trans "Closest Station" %}
    <br/>
  </h3>
  <strong>{% trans "Tokyo Metro Mita-line Kasuga Station" %}</strong>
  <br/>
  <br/>
  {% trans "Exit A5 and go down to east for 5minutes. When you pass supermarket,make left at the second intersection" %}
  <br/>
<br/>
  <h3 style="text-align:left; color:red;">
    {% trans "Driving a car" %}</h3>
{% trans "Please call us in advance, so that we will prepare for a parking space for you" %}
</div>
</div>
</body>
{% endblock %}
