{% load url from future %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
{% load i18n %}
<head>
  <title>{% block title %}{% trans "MUJIN Inc Homepage | Indusctrial Robots for Everyone" %}{% endblock %}</title> 
  {% block css %}{% endblock %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mujin_style.css"/>
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tooltip_style.css"/>
  <link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />
  <script src="{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js"></script>
   {% block basic-jquery %}<script src="{{ STATIC_URL }}js/basic-jquery-slider.js"></script>{% endblock %}
  {% block headscripts %}{% endblock %}
</head>

<body onload="preloadImages();">
  <div id="container" class="homepage">
    <div id="Main">
      <div id="header">
      <table>
          <tr>
            <td>
              <div id="logo">
                <a href="/index">
                  <img width="220" height="111" border="0" src="{{ STATIC_URL }}img/mujin_logo_medium.jpg"/>
                </a>
              </div>
            </td>
            <td> 
              <div id="headNewsHome">
                <b class="white">NEWS</b>
                <br/>
                <a target="_blank" href="http://www.yomiuri.co.jp/job/entrepreneurship/isozaki/20120514-OYT8T00762.htm">{% trans "MUJIN was introduced by Yomiuri newspaper" %}</a>
                <br/>
                <a target="_blank" href="news.html">{% trans "MUJIN Annouced office was moved into Tokyo University." %}</a>
              </div>
            </td>
            <td>
                  <img border="0" src="{{ STATIC_URL }}{% trans "img/en/inquiry.jpg" %}"/> 
            </td>
            <td style="align:left">
               <div id="inquiry"> 
                 <a href="/inquiry">
                  <p class="button">{% trans "contact us" %}<p>
                </a>
              </div>
            </td>
          </tr>
      </table>
      </div>
      <nav>
        
        <ul id="NavBar">
          <li><a href="/index" title="Home">{% trans "Home" %}</a></li>
          <li><a href="/products" title="Products">{% trans "Products" %}</a></li>
          <li><a href="/technology" title="Technology">{% trans "Technology" %}</a></li>
          <li><a href="/news" title="News">{% trans "News" %}</a></li>
          <li><a href="/aquiring_process" title="aquiring_process">{% trans "Acquiring process" %}</a></li>
          <li><a href="/carreers" title="Careers">{% trans "Careers" %}</a></li>
          <li><a href="/aboutmujin" title="About MUJIN">{% trans "About MUJIN" %}</a></li>
        </ul>
      </nav>
      
      <!-- Content -->
      <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
      </div> 
      
      <div style="clear: both;"></div>
      <br/>
      <br/>
      <br/>    
      <div id="Footer">
        <div class="footertext">
          &copy; 2011-2012 MUJIN Inc. All rights reserved.
          <a href="/privacy">Privacy Policy</a>
      </div>
      </div>
    </div>
  </div>
</body>
</html>
