{% load url from future %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>
      {% block title %}
      {% trans "MUJIN Inc Homepage | Industrial Robot for Everyone" %}
      {% endblock %}
    </title>
    {% block css %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mujin_style.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tooltip_style.css"/>
    <link type="text/css" href="{{ STATIC_URL }}css/ui-lightness/jquery-ui-1.8.16.custom.css" rel="stylesheet" />

    <!--
        I don't think these are even acknowledged by search engines anymore...
      -->
    <meta content="Robot Simulator, MUJIN Controller, MUJINコントローラ,Simulation,robot,生産準備,工程設計・計画,Rosen Diankov,OpenRAVE,生産システムのシミュレーション,Inverse Kinematics,逆運動学,IK,ロボットシミュレーター,ロボット" name="keywords"/>

    <script type="text/javascript" src="{{ STATIC_URL }}jquery-1.8.2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/basic-jquery-slider.js"></script>
    {% block headscripts %}{% endblock %}
  </head>

  <body>
    <div id="container" class="homepage">
      <div id="Main">
        <div id="header">
          <table>
            <tr>
              <td>
                <div id="logo">
                  <a href="/index">
                    <img src="{{ STATIC_URL }}img/mujin_logo_medium.jpg"/>
                  </a>
                </div>
              </td>
              <td width="300px">
              </td>
              <td>
                <img  border="0" src="{{ STATIC_URL }}img/call.png" style="width:100px"/>
              </td>
              <td>
                <ul>
                  <li style="display:block"><font size="3px">{% trans "Call us at" %}</font></li>
                  <li style="display:block"><font color="#b93c68">050-3682-7852</font></li>
                  <li style="display:block"><font size="3px">{% trans "Business hours 9:00am-6:00pm" %}</font></li>
                </ul>
              </td>
              <td>
                <ul class="headlink">
                  <li>
                    <div id="inquiry">
                      <a href="/inquiry"><p class="button">{% trans "Contact us" %}</p></a>
                    </div>
                  </li>
                  <li>
                  </li>
                  <li>
                    <div id="inquiry">
                      <a href="/access_map"><p class="button">{% trans "Visit MUJIN" %}</p></a>
                    </div>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </div>
<!--
        end header
-->
        <div id="NavBar">
          <div class="inner">
            <ul>
              <li>
                <a href="/index" title="Home">{% trans "Home" %}</a>
              </li>
              <li>
                <a href="/products" title="Products">{% trans "Products" %}</a>
              </li>
              <li>
                <a href="/services" title="Services">{% trans "Services" %}</a>
              </li>
              <li>
                <a href="/technology" title="Technology">{% trans "Technology" %}</a>
              </li>
              <li>
                <a href="/news" title="News">{% trans "News" %}</a>
              </li>
              <li>
                <a href="/careers" title="Careers">{% trans "Careers" %}</a>
              </li>
              <li>
                <a href="/aboutmujin" title="About MUJIN">{% trans "About MUJIN" %}</a>
              </li>
            </ul>
          </div>
        </div>
        <br />
<!--
        end navbar
-->

        <div id="main_content" class="{% block coltype %}colM{% endblock %}">
          {% if title %}
            <h1>{{ title }}</h1>
          {% endif %}
          {% block content %}
          {{ content }}
          {% endblock %}
        </div>
<!--
        end main content
-->

       </div>
<!--
        end main
-->

       <div id="footer">
         <ul id="footer_navbar">
           <li><a href="/index" title="Home">{% trans "Home" %}</a></li>
           <li><a href="/products" title="Products">{% trans "Products" %}</a></li>
           <li><a href="/services" title="Services">{% trans "Services" %}</a></li>
           <li><a href="/technology" title="Technology">{% trans "Technology" %}</a></li>
           <li><a href="/news" title="News">{% trans "News" %}</a></li>
           <li><a href="/careers" title="Careers">{% trans "Careers" %}</a></li>
           <li><a href="/aboutmujin" title="About MUJIN">{% trans "About MUJIN" %}</a></li>
         </ul>
       </div>
       <div class="footertext">
         <div>
           &copy; 2011-2013 MUJIN Inc. All rights reserved. Privacy Policy
         </div>
      </div>
    </div>
  </body>
</html>

