{% load url from future %}
{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" xml:lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
  <head>
    <title>
      {% block title %}
      {% trans "MUJIN Inc Homepage | Industrial Robots for Everyone" %}
      {% endblock %}
    </title>
    
    
    <link rel="stylesheet" type="text/css" href="/static/css/pontanosans.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/mujin_style.css"/>

    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        if (window.location.hash == "") {
          var path = document.location.pathname;
          var link = $('.sidebar-nav li a[href="' + path + '"]').parent('li');
          if (link.length == 0) {
            link = $('.sidebar-nav li:first');
          }
          link.addClass('active');
        }
{% block headscripts %}
{% endblock %}
      });
    </script>
  </head>

  <body data-spy="scroll" data-target="#scrollspy">
    <div class="container">
      <div class="masthead">
        
        <!-- logo -->
        <a href="/index"><img src="{{ STATIC_URL }}img/mujin_logo_medium.jpg"/></a>
        
        <!-- call us! -->
        <div class="pull-right">
          <div class="span2">
            <img class="pull-right" style="width: 80px;" src="{{ STATIC_URL }}img/call.png"/>
          </div>
          <div class="span3">
            {% trans "Call us at" %}
            <h3 style="margin: 0px; color: #b93c68;">050-3682-7852</h3>
            {% trans "Business hours 9:00am - 6:00pm" %}
          </div>
          <div class="span2" style="margin-left: 0px;">
            <a class="muted btn btn-danger" href="/inquiry">{% trans "Contact us" %}</a>
            <br/>
            <br/>
            <a class="muted btn btn-danger" href="/access_map">{% trans "Visit MUJIN" %}</a>
          </div>
        </div>
        
        <!-- navigation -->
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><a href="/index">{% trans "Home" %}</a></li>
                <li><a href="/products">{% trans "Products" %}</a></li>
                <li><a href="/services">{% trans "Services" %}</a></li>
                <li><a href="/technology">{% trans "Technology" %}</a></li>
                <li><a href="/news">{% trans "News" %}</a></li>
                <li><a href="/careers">{% trans "Careers" %}</a></li>
                <li><a href="/aboutmujin">{% trans "About MUJIN" %}</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /navbar -->
      </div><!-- /masthead -->

{% block content %}
{% endblock %}

      <hr>

      <div class="footer">
        &copy; 2011-2013 MUJIN Inc., All rights reserved. <a href="#">Privacy Policy</a></p>
      </div>

    </div><!-- /container -->
  </body>
</html>

