{% extends "generaltemplate.html" %}
{% load i18n %}
{% block title %}
{% trans "MUJIN Inc.| Business Connections" %}
{% endblock %}

{% block sidebar-list-items %}
<li><a href="#clients">{% trans "Clients" %}</a></li>
<li><a href="#partners">{% trans "Partners" %}</a></li>
<li><a href="#investors">{% trans "Investors" %}</a></li>
{% endblock %}

{% block main-content %}
<fieldset id="clients">
  <h3>{% trans "Clients" %}</h3>
  {% trans "A short list of some of our clients" %}
  <div class="fieldset-content">
    <ul>
      <li>{% trans "CANON Inc." %}<a href="http://canon.jp/">{% trans "(Homepage)" %}</a></li>
      <a href="http://canon.jp/"><img style="width:200px" src="{{ STATIC_URL }}img/canon_logo.png"></a>
    </ul>
  </div>
  <div class="fieldset-content">
    <ul>
      <li>{% trans "CEC ltd." %}<a href="http://www.cec-ltd.co.jp/service/vr+r/">{% trans "(Homepage)" %}</a></li>
      <a href="http://www.cec-ltd.co.jp/service/vr+r/"><img style="width:200px" src="{{ STATIC_URL }}img/cec_logo.png"></a>
    </ul>
  </div>
</fieldset>
<fieldset id="partners">
  <h3>{% trans "Partners/Subcontractors" %}</h3>
  <div class="fieldset-content">
    <ul>
      <li>{% trans "DENSO WAVE INCORPORATED" %}{% blocktrans %}<a href="http://www.denso-wave.com/en/">{% endblocktrans %}{% trans "(Homepage)" %}</a></li>
      <a href="http://www.denso-wave.com/en/"><img style="width:200px" src="{{ STATIC_URL }}img/densowave_logo.png"></a>
 <li>{% trans "Mitsubishi Electric Corporation" %}{% blocktrans %}<a href="http://www.meau.com/eprise/main/sites/public/About_Us/-Home">{% endblocktrans %}{% trans "(Homepage)" %}</a></li>
      <a href="http://www.meau.com/eprise/main/sites/public/About_Us/-Home"><img style="width:200px" src="{{ STATIC_URL }}img/mitsubishi_logo.jpg"></a></br></br>
      <li>{% trans "CEC ltd." %}<a href="http://www.cec-ltd.co.jp/service/vr+r/">{% trans "(Homepage)" %}</a></li>
      <a href="http://www.cec-ltd.co.jp/service/vr+r/"><img style="width:200px" src="{{ STATIC_URL }}img/cec_logo.png"></a></br></br>
      <li>{% trans "Knowledge ltd." %}<a href="http://3dp.co.jp/">{% trans "(Homepage)" %}</a></li>
      <a href="http://3dp.co.jp/"><img style="width:200px" src="{{ STATIC_URL }}img/knowledge_logo.png"></a></br></br>
      <li>{% trans "MeiwaEtech" %}<a href="http://www.meiwa-e.co.jp/">{% trans "(Homepage)" %}</a></li>
      <a href="http://www.meiwa-e.co.jp/"><img style="width:170px" src="{{ STATIC_URL }}img/meiwa_logo.jpeg"></a>
    </ul>
  </div>
</fieldset>
<fieldset id="investors">
  <h3>{% trans "Investors" %}</h3>
  <div class="fieldset-content">
    <ul>
      <li>{% trans "The University of Tokyo Edge Capital" %}<a href="http://www.ut-ec.co.jp/cgi-bin/WebObjects/1201dac04a1">{% trans "(Homepage)" %}</a></li>
      <a href="http://www.ut-ec.co.jp/cgi-bin/WebObjects/1201dac04a1"> <img style="width:200px" src="{{ STATIC_URL }}img/U-TEC.jpg"></a>
    </ul>
  </div>
</fieldset>
{% endblock %}
