{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN | Careers" %}
{% endblock %}

{% block content %}

<div class="bnr"> 
  <image src="{{ STATIC_URL }}img/inspec.png" style="float:right;"/>
  <div style="position:relative; left:40px; top:60px; font-size:50px;color:#EE920E;padding0px"><b>{% trans "Career" %}</b>
  </div>
</div>

<div id="career_main">
  <div id="navi" style="width:270px;height:85px;background:#DDDDDD;float:left">
    <ul class="subnavi" style="position:relative;left:10px;top:5px;">
      <li><a href="/career_webprogrammer" class="subbutton">{% trans "Web Programmer" %}</a></li>
      <li><a href="/career_engineer" class="subbutton">{% trans "Engineer" %}</a></li>
    </ul>
  </div>    
  
  <div id="career_content" style="margin-top:0px; float:right; width:630px;">
    <h1 style="padding:3px 5px;border-color:#cccccc;border-width:1px 1px 1px 7px;border-style:solid;width:300px;background:#F8F8F8;">{% trans "Web Programmer" %}</h1>
  ----------------------------------------------------------------------------------
       <br/>
       <div class="career_subcontent">
       <h3>【{% trans "Work Contents" %}】</h3>

       <ul class="career_list">
         <li> Interface development of MUJIN product</li>
         <li> Network development of MUJIN product）</li>
       </ul><br/>

       <h3>【{% trans "Minimum Qualification" %}】</h3> 
       <ul class="career_list">
         <li> JavaScript (jQuery), AJAX, HTML</li>
         <li> Django Python Web Framework </li>
         <li> SQL DB (knowledge of PostgreSQL preferred, but can be learned)</li>
         <li> RESTful API creation</li>
       </ul>
       <br/>
       
       <h3>【{% trans "Prefered Skill" %}】
       </h3>
       <ul class="career_list">
         <li> Debian/Ubuntu Linux</li>
         <li> HTML5 and CSS </li>
         <li> WebGL API - 3d graphics in browser</li>
         <li> WebSocket API - for fast streaming data</li>
       </ul>
       <br/>
       
       <h3>【{% trans "Location to work" %}】</h3>
       <ul class="career_list">
         <li><b> {% trans "Headquater" %}</b>　 Tokyo University Entrepreneur Plaza 3F,<br/>
       7-3-1, Hongoh, Bunkyo-ku, Tokyo, Japan</li>
         <li><b> {% trans "Koishikawa Office" %}</b> 1-22-9, Koishikawa, Bunkyo-ku, Tokyo, Japan</li>　
       </ul>
       <br/>
  
       <h3>【{% trans "Working time" %}】</h3>
       <ul class="career_list"><li>　9：00～18：00 </li></ul>
       <br/>
       <br/>

       <h3>【{% trans "How you apply" %}】</h3>
        <ul class="career_list"><li>　Please email your resume and career history to our official mail box(info@mujin.co.jp)。
        </li></ul>
       <br/>
       <br/>
       
       <h3>【{% trans "Contact" %}】</h3>
       <ul class="career_list">
         <li>{% trans "MUJIN Inc" %}</li>
         <li>E-mail:info@mujin.co.jp</li>
         <li>TEL:080-6173-7371 　FAX:03-5842-4123 </li>
       </ul>
       <br/>
       </div>
<br/>
<br/>
Attention Recruiters: Currently, we are not using third party recruiters or paying recruiter fees. We are doing all our hiring internally. Please note that any unsolicited resume submissions will become the immediate property of MUJIN Inc. and we will pay no fee whatsoever for any such person submitted. 
<br/>
<br/>
<br/>
       <個人情報の取り扱いについて><br/>
       ご提供いただく個人情報は、弊社個人情報保護法方針に基づき、以下のようにお取り扱いさせていただきます。
       <oi>
         <li>株式会社MUJINは、ご提供いただいた個人情報を厳正に管理し、以下の目的にのみ利用いたします。</li>
         <li>法令の規定等による場合を除いて、事前の同意を得ることなく第三者に提供することは致しません。</li>
         <li>上記利用目的のために、個人情報を他の会社に預託する場合があります。その場合預託先は弊社委託先選定基準に適う会社と致します。</li>
         <li>個人情報をご提供いただくことは任意です。但し、必要とされる情報をご提供いただけない場合、ご要望にお答えできない場合がございます。</li>
         <li>個人情報の開示・訂正・削除を希望される場合は、下記にご連絡願います。
         </li>
       </oi>
       
       <br/>株式会社MUJIN
</div>
</div>
</div>
</body>
{% endblock %}
