{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Careers" %}
{% endblock %}
{% block headscripts %}
<script>
  $(document).ready(function(){
  $('#productslider').bjqs({
  'animation' : 'fade',
  'width' : 1100,
  'height' : 160,
  'showMarkers' : true,
  'showControls' : false,
  'centerMarkers' : false
  });
  });
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic-jquery-slider.css"/>
{% endblock %}

{% block content %}

<div id="productslider">
  <ul class="bjqs">
    <li>
      <table>
        <tr>
          <td><a href="/mujincontroller"><img src="{{ STATIC_URL }}img/mujincontroller_logo3.png" style="width:400px"/></a></td>
          <td style="padding-left: 20px"><h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">{% trans "MUJIN Controller Cloud" %}</h3>
            <ul>
              <li>{% trans "World's first cloud computing solution for robot motion planning." %}
              </li>
              <li>{% trans "Can use 20-100 CPU cores simultaneously for motion optimization from anywhere in the world." %}
              </li>
            </ul>
          </td>
        </tr>
      </table>
    <li>
      <table>
        <tr>
          <td><a href="/mujincontroller"><img src="{{ STATIC_URL }}img/mujincontroller_logo_black.png" style="width:400px"/></a></td>
          <td style="padding-left: 20px"><h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">{% trans "MUJIN Controller" %}</h3>
            <ul>
              <li>{% trans "On-site dedicated 32 core high performance server running on a user internal network." %}</li>
              <li>{% trans "All system operation done through browser, so support all OSes." %}</li>
            </ul>
          </td>
        </tr>
      </table>
    </li>
    <li>
      <img style="margin-left:120px; height:170px; width:900px" src="{{ STATIC_URL }}img/mujin_mission.jpg">
      <b style="position:absolute; left:210px; bottom:70px; text-align:center; font-size:32px;color:ivory">{% trans "Industrial Robot Automation for Everyone" %}</b>
    </li>
  </ul>
</div>

<div id="navi">
  <ul class="subnavi">
    <li><a href="#career_webpragrammer">{% trans "Web Programmer" %}</a>
    </li>
    <li><a href="#career_engineer">{% trans "Engineer" %}</a>
    </li>
  </ul>
</div>

<div id="product_right">
  <aside>
    <h2><span>{% trans "Contact" %}</span>
      {% trans "representative" %}
    </h2>
    <p>{% trans "Fill in your contact information to have a sales representative reach out." %}
      <ul class="subnavi">
        <li><a href="/inquiry">{% trans "Contact a Representative" %}</a></li>
      </ul>
    </p>
  </aside>
  <aside>
    <h2><span>{% trans "Learn Technology" %}</span>
    </h2>
    <p>{% trans "Learn more about MUJIN's world leading IK technology." %}
      <ul class="subnavi">
        <li><a href="/technology">{% trans "MUJIN's Technology" %}</a></li>
      </ul>
    </p>
  </aside>
  <aside>
    <h2><span>{% trans "MUJIN Inc." %}</span>
    </h2>
    <p>{% trans "Tokyo University Entrepreneurplaza,7-3-1 Hongo, Bunkyo, Tokyo, Japan" %}
      <ul class="subnavi">
        <li><a href="/access_map">{% trans "Visit MUJIN" %}</a></li>
      </ul>
    </p>
  </aside>
</div>

<div id="product">
  <div id="web_programmer">
    <div id="content">
      <div id="content_header">
        <h1>{% trans "Web Programmer" %}</h1>
    </div>
      <div class="career_subcontent">
        <h3>【{% trans "Job Description" %}】</h3>

        <ul class="career_list">
          <li> {% trans "Front-end user interface development" %}</li>
          <li> {% trans "Back-end development" %}</li>
        </ul><br/>

        <h3>【{% trans "Minimum Qualification" %}】</h3>
        <ul class="career_list">
          <li> JavaScript (jQuery), AJAX, HTML</li>
          <li> Django Python Web Framework </li>
          <li> SQL DB (knowledge of PostgreSQL preferred, but can be learned)</li>
          <li> RESTful API creation</li>
        </ul>
      <br/>

      <h3>【{% trans "Preferred Skills" %}】
      </h3>
      <ul class="career_list">
        <li> Debian/Ubuntu Linux</li>
        <li> HTML5 and CSS </li>
        <li> WebGL API - 3D graphics in browser</li>
        <li> WebSocket API - for fast streaming data</li>
      </ul>
      <br/>

      <h3>【{% trans "Work Location" %}】</h3>
      <ul class="career_list">
        <li><b> {% trans "Headquater" %}</b>　{% trans "Tokyo University Entrepreneur Plaza," %}<br/>
          {% trans "7-3-1, Hongoh, Bunkyo-ku, Tokyo, Japan" %}</li>
        <li><b> {% trans "Koishikawa Office" %}</b> {% trans "1-22-9, Koishikawa, Bunkyo-ku, Tokyo, Japan" %}</li>　
      </ul>
      <br/>

      <h3>【{% trans "Work Hours" %}】</h3>
      <ul class="career_list"><li>9:00~18:00</li></ul>
      <br/>
      <br/>

      <h3>【{% trans "How To Apply" %}】</h3>
      <ul class="career_list">
        <li>{% trans "Please email your resume and career history to our official mail box: info@mujin.co.jp." %}
      </ul>
      <br/>
      <br/>

      <h3>【{% trans "Contact Us" %}】</h3>
      <ul class="career_list">
        <li>{% trans "MUJIN Inc" %}</li>
        <li>E-mail:info@mujin.co.jp</li>
        <li>TEL:050-3682-7852 　FAX:050-3682-7852 </li>
      </ul>
      <br/>
      </div>
    </div>

    <div id="career_engineer">
      <div id="content_header">
        <h1>{% trans "Engineer" %}</h1>
      </div>
     {% trans "Currently there is no open position for engineers." %}
      <br/>
      <br/>
    </div>
  </div>

  <div id="career_statement" class="shadowing">
    <br/>
    <br/>
    <個人情報の取り扱いについて><br/>
        ご提供いただく個人情報は、弊社個人情報保護法方針に基づき、以下のようにお取り扱いさせていただきます。
      <ui class="career_list">
        <li>株式会社MUJINは、ご提供いただいた個人情報を厳正に管理し、以下の目的にのみ利用いたします。</li>
        <li>法令の規定等による場合を除いて、事前の同意を得ることなく第三者に提供することは致しません。</li>
        <li>上記利用目的のために、個人情報を他の会社に預託する場合があります。その場合預託先は弊社委託先選定基準に適う会社と致します。</li>
        <li>個人情報をご提供いただくことは任意です。但し、必要とされる情報をご提供いただけない場合、ご要望にお答えできない場合がございます。</li>
        <li>個人情報の開示・訂正・削除を希望される場合は、ご連絡願います。
          </li>
      </ui>

      <br/>株式会社MUJIN
  </div>
</div>
{% endblock %}

