{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN | Company overview" %}
{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/company_overview.css"/>
{% endblock %}

{% block content %}   
 
<div class="bnr"> 
  <image src="{{ STATIC_URL }}img/corporate.png" style="float:right;"/>
  <div style="position:relative; left:40px; top:60px; font-size:40px;color:#EE920E;padding0px"><b>{% trans "Company Overview" %}</b>
  </div>
</div>

<div id="company_overview" align="left" style="width:850px; overflow-y: hidden;" class="wcustomhtml"> 
  <br/>
  <table class="content-default">
    <tbody>
      <tr>
        <th>{% trans "Company Name" %}</th>
        <td>{% trans "MUJIN Inc." %}</td>
      </tr>
      <tr>
        <th nowrap="nowrap">{% trans "EN Company Name" %}</th>
        <td>MUJIN Inc.</td>
      </tr>
      <tr>
        <th>{% trans "Founded" %}</th>
        <td>{% trans "2011/7/6" %}</td>
      </tr>
      <tr>
        <th nowrap="nowrap">{% trans "Representative CEO" %}</th>
        <td>{% trans "Issei Takino" %}</td>
      </tr>
      <tr>
        <th>{% trans "CEOs" %}</th>
        <td nowrap="nowrap">
          {% trans "CTO  Rosen Diankov, PhD. (Robot Engineering from Carnegie Mellon University)" %}<br/>
          {% trans "External Director　Tetsuya Yamamoto （The University of Tokyo Edge Capital, GP)" %}
        </td>
      </tr>
      <tr>
        <th>{% trans "Auditing Officers" %}</th>
        <td>{% trans "Miki Hirai" %}{% trans " （The University of Tokyo Edge Capital）" %}<br/>{% trans "AZX Professionals Group Law Offices" %}</td>
      </tr>
      <tr>
        <th>{% trans "Advisers" %}</th>
        <td>
          {% trans "Takeo Kanade　  （Professor, Carnegie Mellon University）" %}<br/>
          {% trans "Masayuki Inaba　（Professor, Tokyo University）" %}<br/>
          {% trans "Kei Okada　（Associate Professor, Tokyo University）" %}<br/>
        </td>
      </tr>
      <tr>
        <th>{% trans "Capital" %}</th>
        <td>{% trans "38,500,000yen" %}</td>
        
      </tr>
      <tr>
        <th>{% trans "Major Stockholders" %}</th>
        <td>
          {% trans "The University of Tokyo Edge Capital" %}<br/>
          {% trans "MUJIN Employee holding" %}<br/>
        </td>
      </tr>
      <tr>
        <th>{% trans "Location" %}</th>
        <td>{% trans "[Headquarter]" %} <br/>{% trans "Tokyo University Entrepreneur Plaza, 7-3-1,Hongo,Bunkyo-ku,Tokyo,Japan" %}<br/>{% trans "[Koishikawa Office]" %}<br/>
          {% trans "1-22-9 Koishikawa,Bunkyo-ku,Tokyo,Japan" %}<br/>
        </td>
      </tr>
      <tr>
        <th>{% trans "Telephone" %}</th>
        <td>{% trans "[Headquarter]" %}<br/>050-3682-7852
        </td>
      </tr>
      <tr>
        <th>FAX</th>
        <td>{% trans "[Headquarter]" %}<br/>050-3682-7852
        </td>
      </tr>
      <tr>
        <th>URL</th>
        <td><a href="http://www.mujin.co.jp/">http://www.mujin.co.jp</a></td>
      </tr>
      <tr>
        <th>E-mail</th>
        <td><a href="inquiry">info@mujin.co.jp></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div style="clear:both">
  {% include "aboutmujinpane.html" %}
</div>

{% endblock %}
