{% extends "generaltemplate.html" %}
{% load i18n %}
{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block subnavi %}
{% endblock %}

{% block feature %}
<div id="product">
  <div id="content">
      <div id="content_header">
        <h1>{% trans "Company Development" %}</h1>
      </div>
      <table class="content-default">
        <tbody>
          <tr>
            <th>2006</th>
            <td></td>
            <td>{% trans "Carnegie Mellon University graduate student, Rosen Diankov, invented OpenRAVE, a robot manipulation planning platform that provides an environment for testing, developing, and deploying motion planning algorithms in real-world robotics applications." %}</td>
          </tr>
          <tr>
            <th>2008</th>
            <td>{% trans "Oct" %}</td>
            <td>{% trans "OpenRAVE started to be released as an open-source software." %}</td>
          </tr>
          <tr>
            <th>2011</th>
            <td>{% trans "Jul" %}</td>
            <td>{% trans "MUJIN Inc. was founded in Tokyo, Japan. The team started to apply OpenRAVE technology to industrial robot system." %}</td>
          </tr>
          <tr>
            <th>2012</th>
            <td>{% trans "Sep" %}</td>
            <td>{% trans "MUJIN Inc. relocated its headquarters to" %} <a href="/#headquarters">{% trans "Tokyo University Entrepreneur Plaza." %}</a></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>

<div style="clear:both">
  {% include "aboutmujinpane.html" %}
</div>

{% endblock %}
