{% extends "aboutmujintemplate.html" %}
{% load i18n %}
{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block main-content %}
<h2>{% trans "Company Development" %}</h2>
<table class="table">
 <tr>
    <td><b>2012</b></td>
    <td>{% trans "Oct" %}</td>
    <td>{% trans "MUJIN Inc. Opened new office at Koishikawa, Bunkyo." %} <a href="/#koishikawa_office">{% trans "Koishikawa Office" %}</a></td>
  </tr>
  <tr>
    <td><b>2012</b></td>
    <td>{% trans "Sep" %}</td>
    <td>{% trans "MUJIN Inc. relocated its headquarters to" %} <a href="/#headquarters">{% trans "Tokyo University Entrepreneur Plaza." %}</a></td>
  </tr>
  <tr>
    <td><b>2011</b></td>
    <td>{% trans "Jul" %}</td>
    <td>{% trans "MUJIN Inc. was founded in Tokyo, Japan. The team started to apply OpenRAVE technology to industrial robot system." %}</td>
  </tr>
  <tr>
    <td><b>2008</b></td>
    <td>{% trans "Oct" %}</td>
    <td><a href="http://openrave.org/">{% trans "OpenRAVE" %}</a>{% trans " started to be released as an open-source software." %}</td>
  </tr>
  <tr>
    <td><b>2006</b></td>
    <td></td>
    <td>{% trans "Carnegie Mellon University graduate student, Rosen Diankov, invented" %}<a href="http://openrave.org/">{% trans "OpenRAVE," %}</a>{% trans "a robot manipulation planning platform that provides an environment for testing, developing, and deploying motion planning algorithms in real-world robotics applications." %}</td>
  </tr>
</table>
{% endblock %}
