{% extends "aboutmujintemplate.html" %}
{% load i18n %}
{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block main-content %}
<h2>{% trans "Company Development" %}</h2>
<table class="table">
  <tr>
    <td><b>2013</b></td>
    <td>{% trans "Apr" %}</td>
    <td><a href="http://mujin.co.jp/news#CEC%20announced%20partnership%20%20with%20MUJIN%20for%20development%20of%20new%20Service%20ROBODIA">{% trans "MUJIN Inc. announced to go into partnership with CEC Inc., for development of new Service RoboDIA" %}</a></td>
  </tr>
  <tr>
    <td><b>2012</b></td>
    <td>{% trans "Oct" %}</td>
    <td>{% trans "MUJIN Inc. Opened new office at Koishikawa, Bunkyo." %} <a href="/#koishikawa_office">{% trans "Koishikawa Office" %}</a></td>
  </tr>
  <tr>
    <td><b>2012</b></td>
    <td>{% trans "Sep" %}</td>
    <td>{% trans "MUJIN Inc. relocated its headquarters to" %} <a href="/#headquarters">{% trans "Tokyo University Entrepreneur Plaza." %}</a></td>
  </tr>
  <tr>
    <td><b>2012</b></td>
    <td>{% trans "Sep" %}</td>
    <td><a href="">{% trans "Industrial Robotics Software Startup MUJIN Inc. raises $950K Series A funding from UTEC -The University of Tokyo Edge Capital" %} <a href="http://www.ut-ec.co.jp/cgi-bin/WebObjects/1201dac04a1.woa/wa/read/139e1c0490f/">{% trans "(UTEC Announcement)" %}</a></td>
  </tr>
  <tr>
    <td><b>2011</b></td>
    <td>{% trans "Jul" %}</td>
    <td>{% trans "MUJIN Inc. was founded in Tokyo, Japan. The team started to apply OpenRAVE technology to industrial robot system." %}</td>
  </tr>
  <tr>
    <td><b>2008</b></td>
    <td>{% trans "Oct" %}</td>
    <td><a href="http://openrave.org/">{% trans "OpenRAVE" %}</a>{% trans " started to be released as an open-source software." %}</td>
  </tr>
  <tr>
    <td><b>2006</b></td>
    <td></td>
    <td>{% trans "Carnegie Mellon University graduate student, Rosen Diankov, invented OpenRAVE, a robot manipulation planning platform that provides an environment for testing, developing, and deploying motion planning algorithms in real-world robotics applications." %}<a href="http://openrave.org/">"Go to OpenRAVE"</a></td>
  </tr>
</table>
{% endblock %}
