{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Products" %}
{% endblock %}
{% block headscripts %}
<script>
  $(document).ready(function(){
  $('#productslider').bjqs({
  'animation' : 'fade',
  'width' : 1100,
  'height' : 160,
  'showMarkers' : true,
  'showControls' : false,
  'centerMarkers' : false
  });
  });
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic-jquery-slider.css"/>
{% endblock %}

{% block content %}

<div id="productslider">
  <ul class="bjqs">
    <li>
      <table>
        <tr>
          <td><a href="/products"><img src="{{ STATIC_URL }}img/mujincontroller_snap.png" style="width:400px"/></a>
          </td>
          <td style="padding-left: 20px">
          <h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">{% trans "MUJIN Controller Cloud" %}
          </h3>
            <ul>
              <li>{% trans "World's first cloud computing solution for robot motion planning." %}
              </li>
              <li>{% trans "Can use 20-100 CPU cores simultaneously for motion optimization from anywhere in the world." %}
              </li>
            </ul>
          </td>
        </tr>
      </table>
   </li>
    <li>
      <table>
        <tr>
          <td><a href="/products"><img src="{{ STATIC_URL }}img/mujincontroller_logo_black.png" style="width:400px"/></a>
          </td>
          <td style="padding-left: 20px">
	          <h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">{% trans "MUJIN Controller" %}
	          </h3>
             <ul>
              <li>{% trans "On-site dedicated 32 core high performance server running on a user internal network." %}</li>
              <li>{% trans "All system operation done through browser, so support all OSes." %}</li>
             </ul>
          </td>
        </tr>
      </table>
    </li>
    <li>
      <a href="/products"><img style="margin-left:120px; height:170px; width:900px" src="{{ STATIC_URL }}img/mujin_mission.jpg"/></a>
      <b style="position:absolute; left:210px; bottom:70px; text-align:center; font-size:32px;color:ivory">{% trans "Industrial Robot Automation for Everyone" %}</b>
    </li>
  </ul>
</div>

<div id="navi">
  <ul class="subnavi">
    <li style="float:left"><a href="products#product" class="subbutton">{% trans "Product Concept" %}</a>
    </li>
    <li style="float:left"><a href="products#product_features" class="subbutton">{% trans "Features" %}</a>
    </li>
    <li style="float:left"><a href="products#applications" class="subbutton">{% trans "Applications" %}</a>
    </li>
    <li style="float:left"><a href="products#operation_demo" class="subbutton">{% trans "Operation demo" %}</a>
    </li>
    <li style="float:left"><a href="products#controller_spec" class="subbutton">{% trans "Controller spec" %}</a>
    </li>
  </ul>
</div>



<div id="product_right">
  <aside>
    <h2 style="color:#f76e05">{% trans "Contact" %}</h2>
    <h2>{% trans "representative" %}
    </h2>
    <p>{% trans "Fill in your contact information to have a sales representative reach out." %}
      <ul class="subnavi">
        <li><a href="/inquiry" class="subbutton">{% trans "Contact a Representative" %}</a></li>
      </ul>
    </p>
  </aside>
  <aside>
    <h2 style="color:#f76e05">{% trans "Learn"%}</h2>
    <h2>{% trans "Technology" %}</h2>
    </h2>
    <p>{% trans "Learn more about MUJIN's world leading IK technology." %}
      <ul class="subnavi">
        <li><a href="/technology" class="subbutton">{% trans "MUJIN's Technology" %}</a></li>
      </ul>
    </p>
  </aside>
  <aside>
    <h2 style="color:#f76e05">{% trans "MUJIN Inc." %}
    </h2>
    <p>{% trans "Tokyo University Entrepreneurplaza,7-3-1 Hongo, Bunkyo, Tokyo, Japan" %}
      <ul class="subnavi">
        <li><a href="/access_map" class="subbutton">{% trans "Visit MUJIN" %}</a></li>
      </ul>
    </p>
  </aside>
</div>


{% block feature %}{% endblock %}

</div>
{% endblock %}




