{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Products" %}
{% endblock %}

{% block content %}
{% block slider %}
  <div class="row well" style="margin-left: 0px; padding-bottom: 0px;">
    <div class="span8" style="margin-left: 215px;">
      {% include "feature_slider.html" %}
    </div>
  </div>
{% endblock %}
<div class="row">
  <div class="span3" id="scrollspy">
    <div class="row">
      <div class="span3" data-offset-top="650" data-spy="affix">
        <ul class="nav nav-list sidebar-nav">
{% block sidebar-list-items %}
{% endblock %}
          <li>
            <div>
              <h4 style="margin-top:0px;">{% trans "Contact us" %}</h4>
              <p>
                {% trans "Fill in your contact information to have a sales representative reach out." %}
              </p>
              <p>
                <a href="/inquiry" class="btn btn-small"><b>{% trans "Contact a Representative" %}</b></a>
              </p>
            </div>
          </li>
          <li>
            <div>
              <h4>{% trans "See our Technology" %}</h4>
              <p>
                {% trans "Learn more about MUJIN's world leading IK technology." %}
              </p>
              <p>
                <a href="/technology" class="btn btn-small"><b>{% trans "MUJIN's Technology" %}</b></a>
              </p>
            </div>
          </li>
          <li>
            <div>
              <h4>{% trans "MUJIN Inc." %}</h4>
              <p>
                {% trans "Tokyo University Entrepreneur plaza, 7-3-1 Hongo, Bunkyo, Tokyo, Japan" %}
              </p>
              <p>
                <a href="/access_map" class="btn btn-small"><b>{% trans "Visit MUJIN" %}</b></a>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span10" style="margin-left:40px">
{% block main-content %}
{% endblock %}
  </div>
</div>

{% endblock %}
