{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Home" %}
{% endblock %}
{% block headscripts %}
<script>
  $(document).ready(function(){
  $('#myslider').bjqs({
  'animation' : 'fade',
  'width' : 850,
  'height' : 400,
  'showMarkers' : true,
  'showControls' : true,
  'centerMarkers' : false
  });
  }); 
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic-jquery-slider.css"/>
{% endblock %}

{% block content %}  
<div id="myslider">
  <ul class="bjqs">
    <li><img src="{{ STATIC_URL }}img/gallery_intro/denso_assembly_dual1.png" width="600"  title="{% trans "Dual-arm manipulation assembly" %}"></li>
    <li><img src="{{ STATIC_URL }}img/gallery_intro/denso_assembly_dual2.png" width="600" title="{% trans "Dual-arm manipulation assembly" %}"/></li>
<li><img src="{{ STATIC_URL }}img/gallery_intro/door_animation.gif" width="600" height="330" title="{% trans "Optimizing robot motion for complex object placement" %}"/></li>
  </ul>
</div>

<div id="QuoteBox" class="shadowing">
  <span class="header" style="color:#666666;" ><br/><br/>{% trans "MUJIN's innovative technology makes it easier to program industrial robots and improves automation quality." %}
  </span>
</div>

<div style="box-shadow:0px 3px 12px 0px #999999;position:relative; left:-20px; width:620px;float:right; background: url({{ STATIC_URL }}img/mujin_mission.jpg) top right  no-repeat;padding:0; margin:0;margin-bottom:30px">
  <div style="position:relative; text-align:center; font-size:32px;color:ivory;padding-top:60px;height:125px"><b>{% trans "Industrial Robot Automation<br/>for Everyone" %}</b><br/><br/><br/>
  </div>
</div>

<div id="learning_index" style="clear:both;margin:40px;width:880px">
  <table>
    <tr>
      <td> <div id="learn_mujincontroller" style="width:400px">
          <h3>{% trans "Are you taking too long to program a robot?" %}</h3>
          <img src="{{ STATIC_URL }}img/mujincontroller_logo3.png" style="width:350px"></img><br/>
          <a href="/inquiry"><p class="button">{% trans "Apply for trial" %}</p></a>
        </div>
      </td>
      <td style="width:410px">
        <h2 style="border-bottom:1px solid;position:relative;left:20px">{% trans "What's new?" %}</h2>
        <div id="headNewsHome" style="position:relative; left:20px">
        {% trans "MUJIN was introduced by Nikkan Kogyo Newspaper" %}</br></br>
          <img src="{{ STATIC_URL }}img/nikkannewspaper.png" style="width:350px"></img><br/>
        
           <a href="http://www.nikkan.co.jp/news/nkx0120120919eaal.html"><h3>東大発ＶＢ・ＭＵＪＩＮ、来年初頭ソフト販売－産ロボの最適動作算出</h3></a></br>
<p>ＭＵＪＩＮ（東京都文京区、滝野一征代表取締役、０５０・３６８２・７８５２）は、２０１３年初めに産業用ロボットの動作計画を行うソフトウエア「ＭＵＪＩＮコントローラー」の販売を始める。
　東京大学エッジキャピタルからの７５００万円の増資を基に１年以内に増員し、開発を加速する。中小型ロボットハンド向けを中心に展開し、３年後に数億円レベルの売り上げを目指す。
　ＭＵＪＩＮは東京大学大学院情報理工学系研究科情報システム工学研究室研究員のデアンコウ・ロセン氏を中心に、１１年７月に設立したベンチャー。ＭＵＪＩＮコントローラーは産業用ロボットの最適な動きを提案するソフトで、これまで数日かかっていた動作計画を１０分程度に短縮できる。
　専門の技術者でなくても、数字や簡単な単語を入力するだけで扱えるのが特徴。</p>
        </div>
      </td>
    </tr>
  </table>
</div>

<div id="NewsHome">
  <b class="white">{% trans "News" %}</b>
  <br/>
  <p><a target="_blank" href="http://www.nikkan.co.jp/news/nkx0120120919eaal.html">{% trans "MUJIN was introduced by Nikkan Kogyo Newspaper" %}</a></p>
 <p><a target="_blank" href="http://www.yomiuri.co.jp/job/entrepreneurship/isozaki/20120514-OYT8T00762.htm">{% trans "MUJIN was introduced by Yomiuri newspaper" %}</a></p>
 <p><a target="_blank" href="/news">{% trans "MUJIN moved its headquarter into Tokyo University." %}</a></p>
</div>
<div id="NewsHome">
  <b class="white">{% trans "Vision" %}</b>
  <br/>
  <a href="/vision">{% trans "MUJIN strives to automate factory and industrial processes through the creation of complex robotic systems capable of intelligent reasoning to increase manufacturing productivity in our society." %}</a>
</div>

<div id="NewsHome" style="margin-right:0px;">
  <b class="white"> {% trans "Careers" %}</b>
  <br/>
  <a href="/carreers">{% trans "Thinking about changing your career? At MUJIN, you could change the world, too." %}</a>
</div>

{% endblock %}
