{% extends "base.html" %}
{% load i18n %}

{% block title %}
  {% trans "MUJIN Inc.| Home" %}
{% endblock %}

{% block headscripts %}
    $('#homeCarousel').carousel({
      interval: 6000
    });
{% endblock %}

{% block content %}
<br/>

<h2 class="comment" style="color:red;"></h2>
<div id="homeCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <div style="position:relative">
      <img src="{{STATIC_URL}}img/gallery_intro/mujincontroller_index2_shadow.png"/>
      <div style="position: absolute; top: 45px; left: 320px; width: 713px;">
        <b style="color: #FF8C00; font-size: 45px; text-shadow: 5px 5px 2px #000000;">{% trans " Best tools for robot programming and workcell layout." %}</b>
      </div>
      </div>
      <div class="carousel-caption">
        <h4>{% trans "Optimizing robot motion for complex object placement" %}</h4>
      </div>
    </div>   
    <div class="item" style="text-align: center;">
      <iframe width="80%" height="450" src="{% trans "http://www.youtube.com/embed/p2QwPuc8oPw" %}" controls="0" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="item">
      <img src="{{STATIC_URL}}img/mujincontroller_snap.png"/>
      <div class="carousel-caption">
        <h4>{% trans "The MUJIN Controller features an easy to use web interface" %}</h4>
      </div>
    </div>
    <div class="item">
      <img src="{{STATIC_URL}}img/denso_assembly_dual2.png"/>
      <div class="carousel-caption">
        <h4>{% trans "Capable of multi-arm manipulation assembly" %}</h4>
      </div>
    </div>
    <div class="item">
      <img src="{{STATIC_URL}}img/door_animation.gif"/>
      <div class="carousel-caption">
        <h4>{% trans "Optimizing robot motion for complex object placement" %}</h4>
      </div>
    </div>
  </div>

  <!-- Carousel nav -->
  <a class="carousel-control left" href="#homeCarousel" data-slide="prev">‹</a>
  <a class="carousel-control right" href="#homeCarousel" data-slide="next">›</a>

  <ol class="carousel-indicators">
    <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#homeCarousel" data-slide-to="1"></li>
    <li data-target="#homeCarousel" data-slide-to="2"></li>
    <li data-target="#homeCarousel" data-slide-to="3"></li>
    <li data-target="#homeCarousel" data-slide-to="4"></li>
  </ol>
</div>

<hr>

<h2 class="comment" style="color:red;">TODO: Luke: Fix the news to work with models.</h2>
<div class="row-fluid">
  <div class="span6">
    <h2>{% trans "Latest News" %}</h2>
    {% for newsentry in news %}
        <p class="lead"><b>{{ newsentry.pub_date }}</b> - <a href="/news#{{ newsentry.en_title }}">{{ newsentry.title }}</a></p>
    {% endfor %}
  </div>
  <div class="span6" style="margin-top:40px">
    <div class="row-fluid">
      <div class="span6 well">
          <a href="/videos#controller_demo">
            <img class="thumbnail" style="width: 100%;" src="{{ STATIC_URL }}img/video_thumbs/controller-demo.png"/>
            <b>{% trans "Controller Demonstration" %} &nbsp;&raquo;</b>
          </a>
      </div>
      <div class="span6 well">
          <a href="/videos#scanning_demo">
            <img class="thumbnail" style="width: 100%;" src="{{ STATIC_URL }}img/video_thumbs/scanning-demo.png"/>
            <b>{% trans "Scanning Demonstration" %} &nbsp;&raquo;</b>
          </a>
      </div>
    </div>
    
    
    <a href="/products" class="btn btn-primary btn-block btn-large">
      <h2>{% trans "MUJIN Controller" %} &nbsp;&raquo;</h2>
    </a>
    <a href="/services" class="btn btn-primary btn-block btn-large">
      <h2>{% trans "FA Engineering" %} &nbsp;&raquo;</h2>
    </a>
    <a href="/technology" class="btn btn-primary btn-block btn-large">
      <h2>{% trans "Motion Control" %} &nbsp;&raquo;</h2>
    </a>
  </div>
</div>

{% endblock %}
