{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN | Inquiry" %}
{% endblock %}

{% block content %}  
<div class="bnr"> 
  <image src="{{ STATIC_URL }}img/inquiry.png" style="float:right;"/>
  <div style="position:relative; left:40px; top:60px; font-size:50px;color:#EE920E;padding0px"><b>{% trans "Inquiry" %}</b>
  </div>
</div>  

<div id="inquiry_head" align="center">   
<h1>{% trans "Contact us" %} </h1>
<h3>{% trans "Reach out to MUJIN's representatives and find your solution." %}</h3>
<p>{% trans "For any questions email " %} <img style="vertical-align:middle" src="{{STATIC_URL}}img/mujin_mail.png"/></p>
</div>
<div id="fsurround" align="center">
  <br>
  <br>
  <form style="display:none" onsubmit="alert('The submission features was disabled for this example'); return false;" action="#" method="post" name="htmlform">
    <table  width="450px" cellpadding="4">
      <tbody>
        <tr>
          <td valign="top">
            <label for="first_name">{% trans "First Name" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30"  maxlength="50" name="first_name">
          </td>
        </tr>
        <tr>
          <td valign="top">
            <label for="last_name">{% trans "Last Name" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="50" name="last_name"/>
          </td>
        </tr>
        <tr>
          <td valign="top">
            <label for="company_name">{% trans "Company Name" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="50" name="first_name"/>
          </td>
        </tr> 
        <tr>
          <td valign="top">
            <label for="address">{% trans "Address" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="50" name="first_name"/>
          </td>
        </tr> 
        <tr>
          <td valign="top">
            <label for="city">{% trans "City" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="50" name="first_name"/>
          </td>
        </tr> 
        <tr>
          <td valign="top">
            <label for="states">{% trans "State/Prefecture" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="50" name="first_name">
          </td>
        </tr> 
        <tr>
        <td valign="top">
          <label for="Country">{% trans "Country" %} *</label>
        </td>
        <td valign="top">
          <input class="shadowing" type="text" size="30" maxlength="50" name="first_name">
          </td>
        </tr>            
        <tr>
          <td valign="top">
            <label for="email">{% trans "Email Address" %} *</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="80" name="email">
          </td>
        </tr>
        <tr>
          <td valign="top">
            <label for="telephone">{% trans "Telephone Number" %}</label>
          </td>
          <td valign="top">
            <input class="shadowing" type="text" size="30" maxlength="30" name="telephone">
          </td>
        </tr>
        <tr>
          <td valign="top">
            <label for="comments">{% trans "Comments" %} *</label>
          </td>
          <td valign="top">
            <textarea class="shadowing" rows="10" cols="50" maxlength="1000" name="comments"></textarea>
          </td>
        </tr>
        <tr>
          <td style="text-align:center" colspan="3">
            <input class="shadowing" type="submit" value="{% trans "Submit Form" %} ">
            <br>
            <br>
           
          </td>
        </tr>
      </tbody>
    </table>
  </form>
  <br>
</div>
</div>
{% endblock %}
