{% load i18n %}

{% if intro_gallery_images %}

<div style="padding: 20px; clear: both;">

<!-- "previous page" action -->
<a class="prev browse left"></a>

<!-- root element for scrollable -->
<div id="scrollable" class="scrollable">  
  <div style="left: -1980px;" class="items">
    {{intro_gallery_images|safe}}
  </div>
</div>

<!-- "next page" action -->
<a class="next browse right"></a>

</div>

{% endif %}

<div style="padding: 20px; clear: both;">
<p>{% blocktrans %}MUJIN specializes in industrial robot automation through advanced motion planning and optimization algorithms. MUJIN technlogy virtually works for any robot, and makes robots easier and cheaper to program for by offering intuitive cloud computing interfaces backed up by large-scale computing infastructure.{% endblocktrans %}</p>

{% blocktrans %}<a href="{{STATIC_URL}}/reports/20111107_MUJIN_CONTROLLER_en.pdf">IREX 2011 Pamphlet</a>{% endblocktrans %}

</div>
