{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN | Management Team" %}
{% endblock %}
{% block headscripts %}
<script>
  $(document).ready(function(){
  $('#myslider2').bjqs({
  'animation' : 'slide',
  'width' : 550,
  'height' : 450,
  'showMarkers' : true,
  'showControls' : true,
  'centerMarkers' : false
  });
  }); 
</script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic-jquery-slider.css"/>
{% endblock %}

{% block content %}

<div class="bnr"> 
  <image src="{{ STATIC_URL }}img/management_team.png" style="float:right;"/>
  <div style="position:relative; left:40px; top:60px; font-size:50px;color:#EE920E;padding0px"><b>{% trans "Management Team" %}</b>
  </div>
</div>

<div id="myslider2" style="margin-top:30px;margin-bottom:30px">
  <ul class="bjqs">
    <li><img src="{{ STATIC_URL }}img/gallery_intro/issei.jpg" width="550" title="{% trans "CEO Issei Takino"%}"/></li>
    <li><img src="{{ STATIC_URL }}img/gallery_intro/rosen3.jpg" width="550"  title="{% trans "CTO Rosen Diankov" %}"/></li>
  </ul>
</div>

<div id= "about mujin" style="clear:both">
    <table class="imagebox">
      <tr>
        <td valign="bottom">
          <a href="/company_overview"> <img src="{{ STATIC_URL }}/img/corporate_profile.jpg" width="120px" hight="130px" alt="company_overview"/></a>
        </td>
        <td>
           <a href="/company_overview"><p style="font-size:30px; color:#EE920E;">{% trans "Corporate overview" %}</p></a>
        </td>
        <td valign="bottom">
          <a href="/vision"><img src="{{ STATIC_URL }}/img/oldlighthouse.png" width="120px" hight="130px" alt="access_map"/></a>
        </td>
        <td>
           <a href="/vision"><p style="font-size:30px; color:#EE920E;">{% trans "Vision" %}</p></a>
        </td> 
        <td valign="bottom">
          <a href="/management_team"><img src="{{ STATIC_URL }}/img/management_team.jpg" width="120px" hight="130px" alt="management_team"/></a>
        </td>
        <td>
          <a href="/management_team"><p style="font-size:30px; color:#EE920E;">{% trans "Management team" %}</p></a>
        </td>
      </tr>
      <tr>
        <td valign="bottom">
          <a href="/access_map"><img src="{{ STATIC_URL }}/img/access_map.jpg" width="120px" hight="130px" alt="access_map"/></a>
        </td>
        <td>
          <a href="/access_map"><p style="font-size:30px; color:#EE920E;"> {% trans "Access map" %}</p></a>
        </td>
        <td valign="bottom">
          <a href="/founder_message"><img src="{{ STATIC_URL }}/img/message.jpg" width="120px" hight="130px" alt="company_development"/></a>
        </td>
        <td>
          <a href="/founder_message"><p style="font-size:30px; color:#EE920E;"> {% trans "Message from founder" %}</p></a>
        </td>
        <td valign="bottom">
          <a href="/company_development"><img src="{{ STATIC_URL }}/img/company_development.jpg" width="120px" hight="130px" alt="company_development"/></a>
        </td>
        <td>
          <a href="/company_development"><p style="font-size:30px; color:#EE920E;"> {% trans "Company development" %}</p></a>
        </td>
      </tr>
    </table>
</div>

</div>
{% endblock %}
