{% extends "aboutmujintemplate.html" %}
{% load i18n %}
{% block title %}
{% trans "MUJIN Inc.| Team" %}
{% endblock %}

{% block main-content %}
<h2>{% trans "Team" %}</h2>
<br/>

<div id="managers">
  <h3>{% trans "Issei Takino - CEO" %} </h3>
  <table class="table">
    <tr>
      <td>
        <img  src="{{ STATIC_URL }}img/issei.jpg">
      </td>
      <td>
        <p><b>Shanghai University</b> 2006</p>
        <p><b>Graduated from Soka University of America</b> 2007</p>
        <p><b>Working as Sales Enginner at Iscar</b> 2012</p>
        <ul>
          <li><p>Freshman Award 2008</p></li>
          <li><p>Second Prize for Marketing Proposal Contest 2010</p></li>
          <li><p>The first award in Sales Contest 2011</p></li>
        </ul>
      </td>
    </tr>
  </table>

  <h3>{% trans "Rosen Diankovo - CTO" %} </h3>
  <table class="table">
    <tr>
      <td>
        <img src="{{ STATIC_URL }}img/rosen.diankov.jpg">
      </td>
      <td>
        <p><b>University of California, Berkeley (EECS)</b> 2006</p>
        <p><b>Carnegie Mellon University (Ph.D)</b> 2010</p>
        <p><b>OpenRAVE - Founder and Developer</b></p>
        <ul>
          <li>Ph.D.thesis:<a href="http://www.programmingvision.com/rosen_diankov_thesis.pdf">{% trans "Automated Construction of Robotics Manipulation Programs" %}</a></li>
        </ul>
      </td>
    </tr>
  </table>

  <h2 class="comment" style="color:red;">TODO: Issei: take pictures of huan and luke</h2>

  <h3>{% trans "Huan Liu - Chief of Software Development" %} </h3>
  <table class="table">
    <tr>
      <td>
        <img src="{{ STATIC_URL }}img/rosen.diankov.jpg">
      </td>
      <td>
        <p><b>Graduated from Massachusetts Institute of Technology</b> 2009</p>
        <p><b>Master's Degree from Massachusetts Institute of Technology</b> 2011</p>
        <p><b>Oracle Corporation</b> 2011 - 2012</p>
      </td>
    </tr>
  </table>

  <h3>{% trans "Lucas Palage Doyle - Software Engineer" %}</h3>
  <table class="table">
    <tr>
      <td>
        <img src="{{ STATIC_URL }}img/rosen.diankov.jpg">
      </td>
      <td>
        <p><b>Graduated from Rensselaer Polytechnic Institute</b> 2012</p>
        <ul>
          <li>Team leader in Boeing Robotic Wingbox Project 2012</li>
        </ul>
        <p><b>Harvard-Smithsonian Center for Astrophysics</b>2009 - 2012</p>
        <p><b>Robotics Intern at Anybots</b>2011</p>
      </td>
    </tr>
  </table>
</div>
{% endblock %}

