{% extends "featuretemplate.html" %}
{% load i18n %}

{% block feature %}

<div id="product">
  <div id="feature_opt">
    <div id="content">
      <div id="content_header">
        <h1>{% trans "Robot Placement Optimization System" %}</h1>
      </div>
      <div id="sub_content_header">
        <img class="subheader_sign" src="{{ STATIC_URL }}img/cube.jpg">
        <h2>{% trans "Find the best position and trajectory" %} </h2>
      </div>
      <div id="sub_content">
        <p>{% trans "What are the feasible locations of the robot where the task can be completed?" %}</p>
        <p>{% trans "Among these feasible locations, which allows the robot to perform the task most quickly?" %}</p>
        <p>{% trans "To answer these questions, the MUJIN Controller evaluates thousands of robot positions and orientations, and for each robot placement it solves for an optimal motion plan." %}</p> 
        <p>{% trans "MUJIN Controller is designed with the latest parallel computing technology in order to quickly provide a optimal solutions while taking into account collision avoidance, singularities, and sensor-based visibility constraints." %}</p>
        <img src="{{ STATIC_URL }}img/placement_opt.png">
      </div>
    </div>
  </div>
</div>
{% endblock %}
  
  
  
