{% extends "generaltemplate.html" %}
{% load i18n %}

{% block main-content %}

<h1>{% trans "Grasp Planning System" %}</h1>
<h2>{% trans "Automatically Figure Out Grasp Point" %} </h2>
<table class="table table-bordered">
  <tr>
    <td><img src="/static/img/grasping.gif"></td>
    <td>{% trans "MUJIN Controller allows robots to change tools and grasp workpieces while computing motions" %}</td>
  </tr>
  <tr>
    <td><img src="/static/img/mitsubishi_robot.png"></td>
    <td>{% trans "The robot can easily mount different tools, which become part of the robot's coltdsion geometry." %}</td>
  </tr>
  <tr>
    <td> <img src="/static/img/mitsubishi_grasp.png"></td>
    <td>{% trans "Once the tool is specified, the robot can grab the workpiece, transfer it to its goal, and release it without adjusting any parameters. Multiple workpieces and tools can be chained in one task to form complex assembtdes." %}</td>
  </tr>
  <tr>
    <td><img  src="/static/img/mitsubishi_grasp.gif"></td>
    <td>{% trans "The tool can move the workpiece while avoiding environment coltdsions." %}</td>
  </tr>
</table>
{% endblock %}

