{% extends "generaltemplate.html" %}
{% load i18n %}

{% block sidebar-list-items %}
<li><a href="#pickworker">{% trans "MUJIN Scanner" %}</a></li>
<li><a href="#pickworker_video">{% trans "Demo Video" %}</a></li>
<li><a href="#pickworker_step">{% trans "Easy Step" %}</a></li>
<li><a href="#getone">{% trans "Purchasing" %}</a></li>
{% endblock %}

{% block slider %}
{% endblock %}

{% block main-content %}
<img src="{{ STATIC_URL }}img/pickworker/pickworker.png">

<fieldset id="pickworker">
  <div class="fieldset-content span10">
    <h3>{% trans "World first motion plnanning bin-picking system" %} </h3><br/>
    <p class="lead">{% trans "By registering 3D models of boxes and objects in advance, robot automatically generates collision and singularity free motions between picking and suppyling. This innovative techology enable robot to pick objects from inside of bin. " %}</p>

    <h3>{% trans "Additional value brought by smooth motion" %} </h3><br/>
    <p class="lead">{% trans "Since all robot motions are output by MUJIN Controller automatically, robot motions are usually very smooth. This smooth motion could reduce damages for sensitive products " %}</p>

    <h3>{% trans "Simple but flexible system" %} </h3><br/>
    <p class="lead">{% trans "Because Pick Worker system is highly integrated by software, it is successfully builtwith a minimum number of components such as robot, slider, camera, and MUJIN Controller. By keeping hardware system simple, possibility of hardware trouble can be reduced as low as possible and also can be more flexible to modifications based on customers' request. " %}</p>   

    <h3>{% trans "Latest point cloud technology " %} </h3><br/>
    <p class="lead">{% trans "Latest point cloud technology is applied to offical perception. " %}</p>   

  </div>
</fieldset>

<fieldset id="pickworker_video" class="highlight-span3">
  <h2 style="color:red">{% trans "Demo Video" %}</h2>
  <br>
  <h2 class="comment" style="color:red;"></h2>
  <div class="fieldset-content span10">

    <div class="row">
      <h3>{% trans "Demonstration" %} </h3>

      <iframe width="580" height="340" src="//www.youtube.com/embed/X-nUkgUb81A" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</fieldset>

<fieldset id="pickworker_step" class="highlight-span3">
  <h2 style="color:red">{% trans "Easy Steps" %}</h2>
  <br>
  <h2 class="comment" style="color:red;"></h2>
    <img src="{{ STATIC_URL }}img/pickworker/pickworker_step.png">
</fieldset>
<fieldset id="getone" class="highlight-span3">
</fieldset>
{% endblock %}
