{% extends "generaltemplate.html" %}
{% load i18n %}

{% block main-content %}
<h2>{% trans "Zero Installation" %}</h2>

<p class="lead">{% trans "The MUJIN Controller does not require users to install any software. The only requirement is a web browser. MUJIN strongly recommends the following browsers: " %}</p>

<img style="width: 400px;" src="/static/img/firefox_logo.png">
<br />
<br />
<img style="width: 400px;" src="/static/img/chrome_logo.png">

<br />
<br />
<a class="btn btn-large" href="/products#product_features"><b>&laquo;</b>&nbsp;{% trans "Back to Product Features" %}</a>
{% endblock %}

