{% extends "featuretemplate.html" %}
{% load i18n %}

{% block feature %}

<div id="product">
  <div id="feature_collision_avoidance">
    <div id="content">
      <div id="content_header">
        <h1>{% trans "Automated Collision Avoidance System" %}</h1>
      </div>
      <div id="sub_content_header">
        <img class="subheader_sign" src="{{ STATIC_URL }}img/cube.jpg">
        <h2>{% trans "Automatically create a optimized trajectory" %} </h2>
      </div>
      <div id="sub_content">
        <p>{% trans "Most existing industrial robot programming packages can only check for collisions of the workpiece and robot, so they require users to manually move the robot out of collision. In comparison, MUJIN Controller automates all collision avoidance and constraint handling processes. It provide clean, simple, and customizable interfaces that require only high-level parameters as input.." %} </p>
        {% trans "Advantages" %}:
        <ul>
          <li style="display:block">{% trans "1. MUJIN Controller eliminates most of the manual teaching operations, which reduces development and deployment cost." %}</li>
          <li style="display:block">{% trans "2. MUJIN Controller creates motion plans for tasks that are very difficult to program with manual teaching." %}</li>
        </ul>
        <div>
          <table>
            <tr class="border-shadow">
              <td><img src="{{ STATIC_URL }}img/door_animation.png" frameborder="0" allowfullscreen/></td>
              <td>
                <p>{% trans "Importing 3D models to MUJIN Controller. MUJIN Controller supports many 3D CAD software, there is no need to buy a new 3D CAD license!" %}</p>
            </td>
            </tr>
            <tr class="border-shadow">
              <td><img src="{{ STATIC_URL }}img/door_animation.png" frameborder="0" allowfullscreen/></td>
              <td><p>{% trans "With the MUJIN Planning Language, users can easily specify task parameters such as tool No., task Kinds, and goals." %}</p></td>
            </tr>
            <tr class="border-shadow">
              <td><img  width="300" height="200" src="{{ STATIC_URL }}img/door_animation2.gif" frameborder="0" allowfullscreen/></td>
              <td>{% trans "MUJIN Controller chooses the best motion by comparing thousands of candidates!" %}</td>
            </tr>
          </table>
          <h2>{% trans "The Old Way" %}</h2>
          <table>
          <tr>
            <td><img src="{{ STATIC_URL }}img/collision.png" frameborder="0" allowfullscreen/><p style="clear:both">{% trans "Collision happens!" %}</p></td>
            <td><b style="font-size:30px">→</b></td>
            <td><img src="{{ STATIC_URL }}img/collision_manual_correction.png" frameborder="0" allowfullscreen/><p style="clear:both">{% trans "The robot programmer has to adjust each parameter to correct collision." %}</p>
            </td>
          </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
  {% endblock %}
  
  
  
