{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}
{% block headscripts %}
<script>
  $(document).ready(function(){
  $('#productslider').bjqs({
  'animation' : 'fade',
  'width' : 850,
  'height' : 160,
  'showMarkers' : true,
  'showControls' : false,
  'centerMarkers' : false
  });
  }); 
</script>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/basic-jquery-slider.css"/>
{% endblock %}

{% block content %}
 
<div id="productslider">
  <ul class="bjqs">
    <li>
      <table>
        <tr>
          <td><a href="/mujincontroller"><image src="{{ STATIC_URL }}img/mujincontroller_logo3.png" style="width:400px"/></a></td>
          <td><h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">
            {% trans "MUJIN Controller Cloud" %}</h3></td>
        </tr>
      </table>
    <li>
      <table>
        <tr>
          <td><a href="/mujincontroller"><image src="{{ STATIC_URL }}img/mujincontroller_logo_black.png" style="width:400px"/></a></td>
          <td><h3 style="padding:4px 5px;border-color:#990000;border-width:0 0 0 6px;border-style:solid">
              {% trans "MUJIN Controller" %}</h3></td>
        </tr>
      </table>
    </li>
  </ul>
</div>

<div id="navi" style="width:890px;height:45px;background:#DDDDDD;float:left; margin-top:50px;margin-bottom:30px">
  <ul class="subnavi" style="position:relative;left:170px;top:5px;width:880px;">
    <li style="float:left"><a href="#licensing_options" class="subbutton">{% trans "Licensing options" %}</a></li>    
    <li style="float:left"><a href="#acquiring_steps" class="subbutton">{% trans "Acquiring steps" %}</a></li>   
  </ul>
</div>

{% block product_content %}
<div id="product_content" style="width:890px; overflow:auto;clear:both;">
  <div id="productheader" >
    <div id="licensing_options" style="padding:3px 5px;border-color:#CCCCCC;border-width:1px 1px 1px 7px;border-style:solid;width:340px;background:#F8F8F8;color:#EE920E;"><h1>{% trans "Licensing Options" %}</h1>
    </div>
  </div>
  <div id="productbox" style="margin-top:20px;">
    <div class="h2_lef">      
      <h2 style="margin-left:10px;"> {% trans "Annual Licensing Option" %} </h2>
    </div>
    <div class="box2">
      <p>{% trans "MUJIN offers annual licenses to commercial companies. License fees differ depending on which kind of MUJIN Controller you choose and how much computing power you want. For pricing details, please " %} <a href="/inquiry">{% trans "contact us" %}</a>{% trans " or call +81-050-3682-7852." %}</p>
    </div>
  </div>

  <div id="productbox" style="margin-top:20px;">
    <div class="h2_lef">      
      <h2 style="margin-left:10px;"> {% trans "Academic Licensing Option" %} </h2>
    </div>
    <div class="box2">
      <p>{% trans "MUJIN offers academic licenses to non-commercial research programs. The licenses are only for academic research and for student projects. We expect teachers and researchers in robot engineering, computer science, electrical engineering, mechanical engineering, and many other fields to select our academic licensing option." %}</p>
      </br>
      <p>{% trans "The academic licensing agreement includes the following provisions:" %}</p>
      </br>
      <ul>
        <li>1.{% trans "The software may only be used for non-commercial research not sponsored by an organization that could receive economic benefits from the work."%}</li>
        <li>2.{% trans "Technical support would be provided to a single contact person." %}</li>
      </ul> 
    </div>
  </div>

  <div id="productheader" >
    <div id="acquiring_steps" style="padding:3px 5px;border-color:#CCCCCC;border-width:1px 1px 1px 7px;border-style:solid;width:340px;background:#F8F8F8;color:#EE920E;"><h1>{% trans "Acquiring Steps" %}</h1>
    </div>
  </div>
  <div id="productbox" style="margin-top:20px;">
    <div class="h2_lef">
      <h2 style="margin-left:10px;">{% trans "Steps to acquire a product" %} </h2>
    </div>
    <div class="box2">
      <table>
        <tr>
          <td style="height:100px;width:320px;background: url({{ STATIC_URL }}img/acquiring_chart.png);background-repeat:no-repeat;">
            <p><font color="red">STEP 1</font> {% trans " Contacting MUJIN sales" %}</p>
          </td>
          <td style="background:url({{ STATIC_URL }}img/acquiring_chart2.png">
            <p>{% trans "Please send an inquiry by" %} <a href="/inquiry">web<a>, {% trans "or call +81-050-3682-7852." %}</p>
          </td>
        </tr>
        <tr>
          <td style="height:100px;background: url({{ STATIC_URL }}img/acquiring_chart.png);background-repeat:no-repeat;">
            <p><font color="red">STEP 2</font> {% trans " Presenting your problem" %}</p>
          </td>
          <td style="background:url({{ STATIC_URL }}img/acquiring_chart2.png">
            <p>{% trans "MUJIN will arrange a meeting with you to fully understand your problem." %}</p>
          </td>
        </tr>

        <tr>
          <td style="height:100px;background: url({{ STATIC_URL }}img/acquiring_chart.png);background-repeat:no-repeat;">
            <p><font color="red">STEP 3</font> {% trans " Receiving MUJIN proposal" %}</p>
          </td>
          <td style="background:url({{ STATIC_URL }}img/acquiring_chart2.png">
            <p>{% trans "We analyze the problem and propose a MUJIN solution considering all the constraints and requirements. We will also decide the details about the trial of the service." %} </p>
          </td>
        </tr>

        <tr>
          <td style="height:100px;background: url({{ STATIC_URL }}img/acquiring_chart.png);background-repeat:no-repeat;">
            <p><font color="red">STEP 4</font> {% trans " Approving quotation" %}</p>
          </td>
          <td style="background:url({{ STATIC_URL }}img/acquiring_chart2.png">
            <p>{% trans "MUJIN sales sends you a quotation, and as soon as you approve it, the product will be delivered." %} </p>
          </td>
        </tr>

        <tr>
          <td style="height:100px;background: url({{ STATIC_URL }}img/acquiring_chart3.png);background-repeat:no-repeat;">
            <p><font color="red">STEP 5</font> {% trans " Starting operation" %}</p>
          </td>
          <td style="background:url({{ STATIC_URL }}img/acquiring_chart2.png">
            <p>{% trans "You will be fully supported by MUJIN engineers as soon as the contract takes effect." %} </p>
          </td>
        </tr>
      </table>
    </div>
  </div> 
</div>
{% endblock %}
{% endblock %}
