{% extends "generaltemplate.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block sidebar-list-items %}
<li><a href="#IK_solution">{% trans "IK Solution" %}</a></li>
<li><a href="#custom">{% trans "Custom Solutions" %}</a></li>
{% endblock %}

{% block main-content %}
<fieldset id="IK_solution">
  <h3>{% trans "Inverse Kinematics Solutions" %}</h3>
  <div class="fieldset-content">
    <p>{% trans "Whatever machine you create, the inverse kinematics needs to be calculated and solved. While there may be ways to approximate an analytical IK solution by using iterative methods, it can be slow and imprecise." %}</p>
    <p>{% trans "MUJIN is known as the company which has the most advanced IK solving technology. Even machines with more than 10 axes can be solved in a couple days." %}</p>
    <img style="width:600px" src="{{ STATIC_URL }}img/technology_iksolutions.jpg">
  </div>
</fieldset>

<fieldset id="custom">
  <h3>{% trans "Custom Solutions" %}</h3>
  <div class="fieldset-content">
    <p>{% trans "MUJIN's engineers have experience solving some of the toughest problems in robotics. If you have a unique problem that we can assist with, we'd be more than happy to help. Don't hesitate to" %} <a href="/inquiry">{% trans "contact us" %}</a> {% trans "or call +81-050-3682-7852." %}</p>
  </div>
</fieldset>

{% endblock %}
