{% extends "generaltemplate.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block sidebar-list-items %}
<li><a href="#IK_solution">{% trans "IK Solution" %}</a>
</li>
<li><a href="#licensing">{% trans "Licensing" %}</a>
</li>
<li><a href="#getone">{% trans "How to get one" %}</a>
</li>
{% endblock %}

{% block main-content %}
<fieldset id="IK_solution">
  <h3>{% trans "Inverse Kinematics Solution Service" %}</h3>
  <div class="fieldset-content">
    <h4>{% trans "Why IK is important?" %}</h4>
    <p>{% trans "Whatever machine you create, Inverse Kinematics is need to be calculated and solved. Most operators use forward kinematics for each motion to adjust, since solving IK is very difficult. This work not only takes a lot of time, but also does not assure the precision." %}</p>
    <p>{% trans "MUJIN is known as the company which has the most advanced IK solving technology. Even more than 10axis machines can be solved in a couple days." %}</p>
    <img style="width:600px" src="{{ STATIC_URL }}img/technology_iksolutions.jpg">
  </div>
</fieldset>
<fieldset id="licensing">
  <h3>{% trans "Licensing Options" %}</h3>
  <div class="fieldset-content">
    <h4>{% trans "Annual Licensing Option" %}</h4>
    <p>{% trans "MUJIN offers annual licenses to commercial companies. License fees differ depending on which kind of MUJIN Controller you choose and how much computing power you want. For pricing details, please " %} <a href="/inquiry">{% trans "contact us" %}</a>{% trans " or call +81-050-3682-7852." %}</p>
    <h4>{% trans "Academic Licensing Option" %}</h4>
    <p>{% trans "MUJIN offers academic licenses to non-commercial research programs. The licenses are only for academic research and for student projects. We expect teachers and researchers in robot engineering, computer science, electrical engineering, mechanical engineering, and many other fields to select our academic licensing option." %}</p>
    <p>{% trans "The academic licensing agreement includes the following provisions:" %}</p>
    <br/>
    <ul>
      <li>{% trans "The software may only be used for non-commercial research not sponsored by an organization that could receive economic benefits from the work."%}</li>
      <li>{% trans "Technical support would be provided to a single contact person." %}</li>
    </ul>
  </div>
</fieldset>

<fieldset id="getone">
  <h3>{% trans "How to get a MUJIN Controller" %}</h3>
  <div class="fieldset-content">
    <table class="table table-bordered">
      <tr>
        <td>
          <p><font color="red">STEP 1</font><br/> {% trans " Contacting MUJIN sales" %}</p>
        </td>
        <td>
          <p>{% trans "Please send an inquiry by" %} <a href="/inquiry">web</a>, {% trans "or call +81-050-3682-7852." %}</p>
        </td>
      </tr>
      
      <tr>
        <td>
          <p><font color="red">STEP 2</font><br/> {% trans " Presenting your problem" %}</p>
        </td>
        <td>
          <p>{% trans "MUJIN will arrange a meeting with you to fully understand your problem." %}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p><font color="red">STEP 3</font><br/> {% trans " Receiving MUJIN proposal" %}</p>
        </td>
        <td>
          <p>{% trans "We analyze the problem and propose a MUJIN solution considering all the constraints and requirements. We will also decide the details about the trial of the service." %} </p>
        </td>
      </tr>

      <tr>
        <td>
          <p><font color="red">STEP 4</font><br/> {% trans " Approving quotation" %}</p>
        </td>
        <td>
          <p>{% trans "MUJIN sales sends you a quotation, and as soon as you approve it, the product will be delivered." %} </p>
        </td>
      </tr>

      <tr>
        <td>
          <p><font color="red">STEP 5</font><br/> {% trans " Starting operation" %}</p>
        </td>
        <td>
          <p>{% trans "You will be fully supported by MUJIN engineers as soon as the contract takes effect." %} </p>
        </td>
      </tr>
    </table>
  </div>
</fieldset>
{% endblock %}
