{% extends "base.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Technology" %}
{% endblock %}

{% block content %}

<div id="technology_bnr" class="shadowing" style="height:190px;background: url({{ STATIC_URL }}img/technology_bnr.png);"></div>
<img style="position:relative; left:200px;top:10px; height:100px" src="{{ STATIC_URL }}img/openrave_banner.png"></img>
<div style="position:relative; left:40px;top:-20px; font-size:50px;color:#EE920E;margin-bottom:20px"><b>{% trans "Motion Planning Technology" %}</b>
</div>

<div id="navi" style=";width:890px;height:50px;background:#DDDDDD;float:left;margin-top:-30px; margin-bottom:30px">
  <ul class="subsubnavi" style="position:relative;left:10px;top:5px;width:890px;">
    <li style="display:inline-block"><a href="#about_openrave" class="subbutton" style="width:205px;">{% trans "About OpenRAVE" %}</a></li>
    <li style="display:inline-block"><a href="#logics" class="subbutton" style="width:205px;">{% trans "Logics" %}</a></li>    
    <li style="display:inline-block"><a href="#achievement" class="subbutton" style="width:205px">{% trans "Achievements" %}</a></li>
    <li style="display:inline-block"><a href="#reference_documents" class="subbutton" style="width:205px">{% trans "White Papers" %}</a></li>
     </ul>
</div>

<div id="technology_content" style="width:890px; height:1000px;overflow:auto;clear:both;">
  <div id="productheader" >
    <div id="product_concept" style="padding:3px 5px;border-color:#CCCCCC;border-width:1px 1px 1px 7px;border-style:solid;width:720px;background:#F8F8F8;color:#EE920E;"><h1>{% trans "Motion Planning with OpenRAVE?" %}</h1>
    </div>
  </div>
  
  <div id="productbox" style="margin-top:20px;">
    <div class="h2_lef">
      <h2 style="margin-left:10px;"> {% trans "Robust Inverse Kinematics that Explores All Solutions" %} </h2>
    </div>
  </div>
  <br/>
</div>

<div>
  <h1>Robot Motion Planning Sample Demos</h1>
  <h2>{% trans "Layout Optimization" %}</h2>
  <iframe width="640" height="360" src="{% trans "http://www.youtube.com/embed/p2QwPuc8oPw" %}" frameborder="0" allowfullscreen></iframe>
  <h2>{% trans "Multi-Robot Motion Planning" %}</h2>
  <p>{% blocktrans %}Motion planning for multiple robots. Task time for one robot is 16.6s, adding two in the same environment decreases task time by 25% {% endblocktrans %}</p>
  <iframe width="480" height="360" src="{% trans "http://www.youtube.com/embed/vLu0twF2-Ps" %}" frameborder="0" allowfullscreen></iframe>
  
</div>
</div>
{% endblock %}
