{% extends "generaltemplate.html" %}
{% load i18n %}

{% block title %}
{% trans "MUJIN Inc.| Services" %}
{% endblock %}

{% block sidebar-list-items %}
{% endblock %}

{% block main-content %}
<a href="http://www.youtube.com/user/mujinvideo"><h3>{% trans "Our Youtube Channel" %}</h3></a>

<fieldset id="controller_demo">
  <h3>{% trans "MUJIN Controller Demo" %}</h3>
  <div class="fieldset-content">
      <iframe width="640" height="480" src="//www.youtube.com/embed/4pIhaE4yPgY" frameborder="0" allowfullscreen></iframe>
  </div>
</fieldset>

<fieldset id="scanning_demo">
  <h3>{% trans "Scanning Demo" %}</h3>
  <div class="fieldset-content">
    <iframe width="640" height="480" src="//www.youtube.com/embed/MA5vtA3Fnks" frameborder="0" allowfullscreen></iframe>
  </div>
</fieldset>

{% endblock %}
